[2013-11-13 18:43] electricmonk opened #1 "Validation using implicits or type classes"
How about providing Validate using implicits or type classes, so that we can use:

[code]

instead of

[code]

?

[2013-11-14 09:31] #1 closed, assigned to nobody

[2013-11-14 16:24] holograph opened #2 "Validation statements do not compile with Scala <2.10.3"
The validator macro fails with older Scala versions. Need to figure out if this is strictly an issue with the Scala compiler or something that can be worked around.

Sample output:

[code]

[2013-11-17 11:47] holograph opened #3 "Add sample transformation output to the documentation"
Per Eugene's [comment](https://github.com/holograph/accord/commit/9f5ebd4633ff50337991ecf5a679fdf91906b190#commitcomment-4618532), it might be worthwhile to add a sample output of the validation transformer for reference and debugging.

[2013-11-19 09:31] holograph opened #4 "Change scala-reflect dependency so compile-time only, non-transitive"
Per discussion with Eugene at https://github.com/holograph/accord/commit/079ea7c9d86c5026509af71893388f9482c33a1e#commitcomment-4623514

[2013-11-19 15:34] #4 closed, assigned to nobody

[2014-02-17 09:46] nettad opened #5 "boolean expression evaluation"
Would like the ability to have the following validation:

[code]

[2014-02-17 09:48] nettad opened #6 "Support inline expressions in validators"
[code]

Obviously this is a simple irrelevant example but it doesn't compile.

[2014-02-23 09:43] obruker opened #7 "NPE if an evaluated object is null and Validator (except notNull) is specified"
[code]

[2014-02-23 12:25] #5 closed, assigned to holograph

[2014-02-27 15:02] danielgratzl opened #10 "Size validation on Options results in StackOverflowError"
[code]

leads to

[code]

Is this kind of validation supposed to work or am i doing something fundamentally wrong?

[2014-03-02 18:51] #10 closed, assigned to holograph

[2014-03-03 16:49] #7 closed, assigned to holograph

[2014-03-16 03:12] sksamuel opened #12 "notEmpty doesn't handle notNull"
Maybe I'm doing something wrong, but if I'm not, do you think notEmpty should be a more generic case of notNull that checks for !null and !empty

[2014-03-16 12:25] #12 closed, assigned to nobody

[2014-04-01 08:51] holograph opened #15 "Validator delegation isn't null-safe"
`Valid` (or `someField is valid` via the DSL) can cause `NullPointerException`s if it acts on a null value.

[2014-04-01 09:26] #15 closed, assigned to holograph

[2014-04-01 11:44] holograph opened #16 "Collection.each is not null-safe"
The `each` DSL extension doesn't handle nulls correctly. Sample stack trace:

[code]

[2014-04-01 11:48] #16 closed, assigned to holograph

[2014-04-10 18:27] antonkulaga opened #19 "Scala.js support"
As validation is a common task for the frontend it will be be great to see scalajs support in accord.

[2014-05-04 08:28] sksamuel opened #20 "Scala 2.11 Support"
Any chance of a 2.11 release ?

[2014-05-20 20:40] pjean opened #21 "Support overriding constraint messages (i18n support)"
It will be nice to have i18n support or at least a way to customize constraints messages.

[2014-06-05 20:29] holograph opened #22 "Descriptions aren't generated for clauses on boolean expressions"
As reported by @noama: violations generated for clauses included in boolean expressions lack descriptions.

Repro:

[code]

Sample validation failure:

[code]

[2014-06-23 15:59] holograph opened #23 "Multiple-clause boolean expression evaluation is incorrect"
Per a bug report by @noama:

[code]

[2014-07-22 10:22] #20 closed, assigned to holograph

[2014-07-22 16:40] #23 closed, assigned to holograph

[2014-07-22 16:40] #22 closed, assigned to holograph

[2014-08-07 09:13] danielgratzl opened #25 "Default validators"
Are there any plans to add implementations for default validation tasks like email, etc or will this be left to the user? if so, whats the best way to create custom validators?
I ended up writing custom lots of custom validators anyway because i didn't find another way to change the validation failed messages.

These often look like

[code]

[2014-08-12 11:01] #25 closed, assigned to nobody

[2014-11-14 09:26] holograph opened #26 "Improved testkit"
The Accord testkit (for both Specs2 and ScalaTest) is both woefully underpowered and fails the DRY principle. Specifically, it makes it very hard to use native matchers, and impossible to compose rules freely. For example, with the existing framework it's impossible to assert that a result is a failure, and that all violations must match a specific rule. In short, a better testkit is necessary.

F

[2014-12-01 12:45] holograph opened #27 "Allow boolean combinations among heterogeneous types"
Boolean combinators (and, or) do not, as of Accord 0.4, support rules that deal with heterogenous-typed fields. For example:

[code]

This is because the combinator DSL (see `ValidatorBooleanOps`) is strictly typed.

[2014-12-08 11:39] #2 closed, assigned to holograph

[2014-12-28 14:05] bobymicroby opened #29 "Validation of Optional Types"
Hello,

First things first. This is awesome lib showing some great kung-fu.
While I was playing with it, I tried to  do this:

![screen shot 2014-12-28 at 3 57 40 pm](https://cloud.githubusercontent.com/assets/927575/5563982/e3259f70-8ea9-11e4-8fa4-86d2a0c2508d.png)

I have stumbled on a lot of cases, especially when dealing with user input, of optional parameters that if exists only then should b

[2014-12-28 19:15] #29 closed, assigned to nobody

[2014-12-28 20:20] #27 closed, assigned to holograph

[2015-01-22 21:10] holograph commented on #21
Exactly one month later, and I have something to show for it. The [free constraints](https://github.com/wix/accord/tree/free-constraints) branch has reached a stable milestone, where all tests pass and things are largely working. In a nutshell, the idea is that the whole Accord cake is now accessible via "domains". A domain defines the type of constraints, and provides constraint generators for co

[2015-03-03 20:21] holograph opened #30 "Spring integration requires scala-reflect at runtime"
Per internal investigation within Wix, it's possible that the Spring integration (the default implementation of which relies on runtime reflection to map types to validators) indirectly requires scala-reflect at runtime; this was not the case for 2.10, and is a possible breaking change with 2.11. The suspected stack trace (sanitized) is as follows:

[code]

[2015-03-03 21:39] holograph commented on #30
Evidently this applies to Scala 2.10.3 as well, but was masked by scala-reflect being transitively added to the test configuration via ScalaTest. I'll add a separate build configuration with a repro case and figure out the right solution for it.

[2015-03-03 21:39] holograph commented on #30
As an interim workaround, just add scala-reflect to your project and track this issue for updates.

[2015-03-07 15:21] Red-Angry-Bird commented on #21
is this feature available on the 0.5 snapshot to play with?

[2015-03-11 22:26] holograph commented on #21
Sorry for the delay -- no, it's experimental enough that I placed it in its own branch, I'm not sure it makes sense to publish this on any repo before I get some feedback. You can very easily build it yourself (clone, switch to `free-constraints` branch and run `sbt publishLocal`).

[2015-03-31 14:01] lenzenc opened #31 "Max Length?"
Maybe I missed some documentation but does accord have the ability to check a max or min length of a "string" property?

[2015-03-31 14:14] avitaln commented on #31
try:
theString has(size between(min, max))

[2015-03-31 14:24] lenzenc commented on #31
Thanks...looks like if you just want to check max length you can do the following;

thString has size <= max

[2015-03-31 14:24] lenzenc commented on #31
Another question, is there a way to inline multiple checked in one line, for example;

theString is notEmpty  and has size <= max

[2015-03-31 14:26] lenzenc commented on #31
One more question, is there an example for "custom" validations?  Similar to how you can write one for RoR?

[2015-03-31 14:28] avitaln commented on #31
you can use combinations of is/and/or and if you have case class inside another case class - for example address inside person - then you write validator for address, and for person you do: "address is valid"

[2015-03-31 17:48] lenzenc commented on #31
Thanks @avitaln, how about custom validations, again similar to RoR.  For example I might have custom business logic to check the uniqueness of a combination of two properties?

[2015-03-31 17:52] lenzenc commented on #31
Trying out multiple expression on on property, for example;
[code]
But getting a compile error;

ound   : p.name.type (with underlying type String)
[error]  required: Int with String
[error]  Note: implicit value personValidator is not applicable here because it comes after the application point and it lacks an explicit result type
[error]       p.name is notEmpty and size <= 5

[2015-03-31 18:04] lenzenc opened #32 "Add set-style "is one of" combinator"
How do you write a validation to make sure if a value is within a Seq of values, for eample;

value: String
mySeq Seq("V1",V2",etc)

value must be one of the values in mySeq?

[2015-03-31 19:02] karolisbu commented on #31
The workaround could be just (and is added my scala macros):
[code]
or

[code]

[2015-03-31 19:11] karolisbu commented on #32
Hi,
I wrote the custom validator method by extending Accord BaseValidator:
[code]
the usage looks like:
[code]

[2015-04-20 16:58] holograph commented on #31
Your second suggestion is not a workaround, it's actually the implemented syntax, though I'd recommend parenthesizing the first expression as well:

[code]

It's rather poorly documented because, well, it appears bootstrapping a proper documentation project with Jackyl or Sphinx is actually a lot more work than you'd think :-/  (If you ever look for a way to contribute, bootstrap a sensible docume

[2015-04-20 17:05] holograph commented on #31
As for custom validators, that's also pretty poorly documented, but a validator is essentially a `Function1[T, com.wix.accord.Result]`, and there's a bunch of base helpers you can use. Example:

[code]

[2015-04-20 17:05] #31 closed

[2015-04-26 12:51] janekdb opened #33 "Document available validations"
`accord` has a simple and useful dsl but it required a hunt through the source code to find the available validations in `StringOps` and friends.

Suggestions,

* Summarise available validations in `README` OR
* Link to user document if this already exists somewhere else

[2015-04-26 13:02] janekdb opened #34 "Publish and link to API docs"
This project would be better still if the API docs were published somewhere.

I have been through this with one of my projects and settled on a simple process. It's not fully automated but works fine,

* Build Maven site locally including API docs
* Commit to `gh-pages` branch
* Push

The docs are then available from GitHub pages.

[2015-05-03 06:29] holograph opened #35 "Qualify Specs2 version in integration module"
Specs2 3.x is not binary backwards-compatible with the 2.x series, which is still in significant use throughout the community. Accord needs to support both 2.x and 3.x, probably by way of a separate compilation module (or dependency set).

Reported by @noam-almog.

[2015-05-03 06:37] holograph commented on #32
Seems legit :-)  I don't know that this is "interesting" enough for inclusion in the broader combinator library, but then we don't have any guidelines on that. I'll modify the issue to indicate that it's an enhancement request and leave it open for a while to see if people are interested.

[2015-05-03 06:40] holograph commented on #33
A definite wishlist item. Some discussion going on on the [Gitter channel](https://gitter.im/wix/accord) if you're interested.

[2015-05-03 06:41] holograph commented on #34
Largely related to #33, so much so that, given proper documentation of library features, I don't think there's any point for "JavaDoc"-style publishing. Closing as duplicate.

[2015-05-03 06:41] #34 closed

[2015-05-03 19:09] holograph commented on #35
Released as 0.4.2. You can now use the artifact `accord-specs2-3.x` (the older `accord-specs2` is still available to support Specs2 2.x). I'll update the documentation later this week accordingly.

[2015-05-03 19:09] #35 closed

[2015-05-07 08:48] holograph opened #36 "Spring integration: Error details are not propagated to the error object"
When validation fails on a delegated object, the error details (from the group violation) aren't persisted to the `Errors` object. For example, for the following domain model:

[code]

When running the following test:
[code]

The result is a correct `Errors` object, but is missing a lot of details:
[code]

Note that the error message is the top-level "field is invalid" constraint violation, but no

[2015-05-07 08:49] holograph commented on #36
Note that this is a known limitation as indicated by the [Spring integration documentation](https://github.com/wix/accord/tree/master/spring3).

[2015-05-09 20:48] holograph commented on #36
Need some help figuring out the right kind of rendering. To start with, I added a test to the `issue36` branch so we can actually spec out the desired behavior; it looks something like:

[code]

Now the question is, what is the desired rendering behavior? I've been doing some reading about Spring Validation, but have yet to figure out what the "nominal" rendering behavior is.

[2015-05-11 14:18] holograph opened #37 "Regression: Boolean combinators can no longer be applied to a single term"
As a result of the DSL change in #27, since release 0.4.1 it is no longer valid to apply several rules to a single term in some cases; for example, trying to compile the following validator:

[code]

Results in the following compiler error:

[code]

This is because `and` now takes a type parameter `U`, and requires a right-hand combinator of type `Validator[U]`. Since there's nothing to guarantee

[2015-05-12 09:37] holograph commented on #37
This is evidently a lot less trivial than you'd expect. The problem is that the `and` rule needs to apply in two separate cases:

* The simple case is where the types for both operands are known. For instance, `(st.term is notNull) and (st.term is notEmpty)` is a combination of two known types (`Validator[String]`).
* The type of the left-hand operand is known, but the right-hand side isn't; this

[2015-05-12 12:59] holograph commented on #37
Asked a question on [StackOverflow](stackoverflow.com/questions/30191554/how-can-i-prove-that-two-types-have-no-subtyping-relation-in-scala), hopefully someone will be able to help :-)

[2015-05-12 13:53] holograph commented on #37
Well it looks like there *is* a way to encode this constraint (see [StackOverflow](http://stackoverflow.com/questions/6909053/enforce-type-difference)), but unfortunately it does not apply this case -- the parameterized `and` is still considered a valid overload, and the type inferencer goes haywire. So there goes that idea.

Until someone comes up with another avenue of research, there are two wo

[2015-05-12 13:53] #37 closed

[2015-05-12 15:14] nadavwe commented on #37
how about changing the name from "and" to something else?
so you have two names that basically do similar things.
I would probably go with andAlso or && or + (or any two of them... :).
I hope i understood the problem correctly...

[2015-05-12 15:54] holograph commented on #37
@nadavwe That's easy and you don't need me for it (see below for a cut+paste solution). I'm reluctant to add a semantically-identical conjunction to the DSL just to work around a language constraint, especially when the available workarounds are so simple.

If you want to add `andAlso` to your own codebase, this will work:
[code]

[2015-05-16 17:10] geirhe opened #38 "Internationalization"
Being norwegian, I wondered when reading the docs what kind of internationalization architecture you are envisioning.
If I was to use this for a site, I would probably need to have error messages in norwegian. I could remap the text in the gui, but some error messages should contain server-side data for usability reasons.

[2015-05-17 22:31] holograph commented on #38
There's a whole discussion of that in #21, including a POC implementation that I'm not really happy with. Comments and "here's what I think it should look like"-type feedback would be _greatly_ appreciated!

[2015-05-17 22:31] #38 closed

[2015-06-01 21:14] xiaodongw opened #39 "For string, have size == 7 does not compile"
I got the following compile error for the code:
o have size == 7

Which o is a string.
[info] Compiling 5 Scala sources to /Users/alfred/code/trading-service/trading-service-server/target/scala-2.10/classes...
[error] /Users/alfred/code/trading-service/trading-service-server/src/main/scala/com/loyal3/trading/validation/Validation.scala:12: type mismatch;
[error]  found   : com.wix.accord.combinato

[2015-06-01 23:05] holograph commented on #39
Interesting. I'll have to look into the error a bit further to understand why the error message is so weird; at any rate, the intended syntax (which will hopefully be documented soon along with the rest of #33) is:
[code]
This should work around your problem in the meantime.

[2015-06-02 01:44] xiaodongw commented on #39
Thanks for the quick response. It still does not work, the code is like this:
val validBetaSecurityNumber = validator[String] { o =>
    o is notEmpty
    o should have size == 7
  }

  val validBetaAccountId = validator[String] { o =>
    o is notEmpty
    o should have size == 8
  }

Then I got the error:
[info] Compiling 7 Scala sources to /Users/alfred/code/trading-service/trading-service-serv

[2015-06-02 10:46] ngbinh commented on #19
Just wondering if there is any progress on this issue? Thanks

[2015-06-04 07:45] antonkulaga commented on #19
Not from my side. I simply had not time for it (too many other libs to port to scalajs on my list) But there are also some good news: scalatest supports ScalaJS in its latest snapshot, that means that there is no need to rewrite the test

[2015-06-04 14:37] holograph commented on #39
Strange, I'll have a look as soon as I can. Thanks for the report!

[2015-06-07 13:26] holograph commented on #39
I've misled you with my previous comment, i.e. the right syntax is `o has size == 7`. Regardless, I've replicated your issue and am looking into it.

[2015-06-08 22:32] villafana1981 opened #40 "Custom validator required Failure, using example code #32"
Hi, im interesting in user a custom validator like #32

[code]

i tried and I got this error:
[code]
Also try this code I saw in this repository

[code]
and the same mistake ,  what's wrong?
is there some document to see a custom validator example?

[2015-06-09 20:37] leoconco opened #41 "collection.each should not fail on empty collection"
collection.each is notEmpty should not fail if collection is empty
I want to validate the field "tags", my object could not have any tag, but if there are tags, the empty string should not be accepted.
I don't find a way to do it in accord.
[code]
results in
[code]

[2015-06-10 01:18] #39 closed

[2015-06-10 01:23] zbeckman opened #42 "Comparison to Failure or Success never compares as equal"
Thought I'd try a quick prototype. Ended up with this simple specs2 test:

	val x = validate(new GPPersonInformation(GPID(1), simpleRandomName(), None, simpleRandomName(), Option("L")))

	logger.trace(s"${x.getClass}")

	if (x == com.wix.accord.Failure) {
		logger.error("FAILED")
	}

Compiler reports:

[warn] /Users/zbeckman/Projects/Glimpulse/Server/project/glimpulse-server/test/models/TestPerson

[2015-06-10 09:18] holograph commented on #41
Your usage is correct, but I haven't been able to replicate your issue. From the violation it's very likely that `x.tags` (i.e. the collection itself) is null. If that's not the case, please post a bit more of the code and reopen the issue...

[2015-06-10 09:18] #41 closed

[2015-06-10 09:59] packux commented on #42
A different approach would be to implement pattern matching for evaluating the output of validation i.e.

[code]
On name collisions, you may create aliases (if needed) when importing the specific accord types e.g.

[code]

[2015-06-10 16:52] leoconco commented on #41
Indeed x.tags is null , but if I want to validate
[code]
but x.tags could be null, I have no alterative.
I mean, I want to validate: x.tags could be empty, but if it has elements, these elements should not include spaces.
The basic case where x.tags is null should return valid instead of failure.

[2015-06-10 22:19] holograph commented on #41
Nulls go against the grain of the Scala language, so I'd prefer not to make this a first-class construct. You can get the behaviour you want with a little boolean algebra:

[code]

This gets you what you need:
[code]

[2015-06-10 22:58] zbeckman commented on #42
All very good points (I had forgotten Scala can do aliases). True, we can use pattern matching, although we generally avoid it when there is a simple, single case e.g., "if (success) {...}" as it is simpler to read.

[2015-06-11 00:00] leoconco commented on #41
Thanks, that is what I needed, I tried with if inside the validator before and didn't work, but this does.
Suggestion: cheatsheet
Great library.

[2015-06-11 11:32] packux commented on #42
Continuing on this discussion, I think it would be very handy if the Result type would work in a similar fashion to the Try type of scala, i.e. provide map/flatMap facilities. That, would allow a syntax like the following

[code]

or similarly

[code]

@holograph: Keeping in mind that this is not a small refactoring, would such a change make sense?

[2015-06-11 18:11] zbeckman commented on #42
+1. We have a few data types that mimic Try and it works nicely (for instance, a ProcedureResult that wraps stored procedure calls).

It's also nice for building cascading validation rules, so if any one of the rules fails the whole thing gets kicked out. For now we are doing this (or, using matching, but I don't like to use match when a single `if` does the trick equally well):

[code]
Anything b

[2015-06-11 22:40] holograph commented on #42
Since Accord operates, as an intentional design goal, on pre-initialized objects (i.e. after deserialization, form input, database load etc.), it can't really offer scalaz-like "applicative builder" object construction. That is the obvious use case for a monadic result model.

On the other hand, it's entirely possible that I missed your point -- is `validatedDTO` simply the object passed to the va

[2015-06-11 22:49] holograph commented on #41
Thanks for the feedback :-)  You're right that documentation is lacking, I'm working on that (see #33).

[2015-06-11 22:55] holograph commented on #40
@villafana1981 You're missing an import (`import com.wix.accord.ViolationBuilder._`).

As for documentation, it's coming. You can track this in #33.

[2015-06-11 22:55] #40 closed

[2015-06-12 10:11] packux commented on #42
@holograph : the idea is to provide a facility similar to the Try monad. That would allow an easy way to execute further functions on the value in case of Success or simply return a Failure.

For example, a map function would allow the following

[code]

In a similar fashion, flatMap would allow some nested validations for objects that are not available when we validate the initial object, for exa

[2015-06-15 13:19] holograph commented on #42
Well that's the thing -- what does `request.body.validate[Foo]` do? It both deserializes and validates, and the deserialization aspect is completely outside of Accord's purview...

[2015-06-21 06:33] holograph commented on #36
@hugebdu @itaykor Your input would be appreciated...

[2015-06-21 06:34] holograph commented on #33
Started working on it via branch `gh-pages` (the site is accessible via http://wix.github.io/accord/). I'm still playing around with Jekyll, but once I manage to get sensible markdown support the actual documentation can progress.

[2015-06-21 19:35] janekdb commented on #33
Looks good so far!

On 21 June 2015 at 07:34, Tomer Gabel <notifications@github.com> wrote:

[2015-07-05 11:00] holograph commented on #33
Major milestone achieved, enough that I'm comfortable closing this issue!
Check out the resulting documentation, specifically the pages about the [API](http://wix.github.io/accord/api.html), [DSL](http://wix.github.io/accord/dsl.html) and combinator [library](http://wix.github.io/accord/dsl.html#combinator-library).

Could still use some improvement, and a TOC is definitely high on my wishlist (wo

[2015-07-05 11:00] #33 closed

[2015-07-09 21:26] voidcontext commented on #42
+1 for the monadic features, it would be more idiomatic and easier to integrate.

[2015-07-12 10:42] holograph commented on #42
I'm still missing some basic notion of what these wrap. Taking the previous example:

[code]

There are too many clauses and types here; for example, why is `foo` seemingly validated twice? What is the type of `validatedFoo`? Also, you seem to be mixing monads (form validation, Accord validation and `Option`) without the appropriate transformers, so I'm not sure this could ever be made to work :-)

[2015-07-13 21:26] holograph commented on #30
Failed to reproduce issue (see latest commits on branch issue-30, if you're interested). Closing.

[2015-07-13 21:26] #30 closed

[2015-07-13 22:00] holograph commented on #19
This is basically pending ScalaTest support for Scala.js (I've no intention of rewriting all tests on another framework, but if someone wants to take a stab at it...)

[2015-07-13 23:01] antonkulaga commented on #19
ScalaTest 3.0.0-M7 works fine with ScalaJS, you an simply switch the project to it

[2015-07-14 09:14] holograph commented on #19
Indeed! I've started playing around with Scala.js, notwithstanding @antonkulaga's earlier experiments (the sbt plugin has come a long way since then). Right now I've run into a [silly issue](https://groups.google.com/forum/#!topic/scala-js/RJ8V_thUaQA) with the build, but you can see the result on the [scalajs-support branch](https://github.com/wix/accord/tree/scalajs-support).

[2015-07-14 15:15] holograph commented on #19
Almost works! It builds, but tests for `core` fail with an odd error message:

[code]
If anyone has a clue, let me know; this is all the time I have for this today.

[2015-07-14 15:35] holograph commented on #19
Found some extra time and the problem is now fixed on the target branch! I need to do some reading about how to publish (and exemplify usage) of Scala.js artifacts, but we're damn near good to go. Looks like the 0.5 release is closer than I thought :-)

[2015-07-19 07:31] holograph commented on #19
This is currently blocked on scoverage/sbt-scoverage#101. If coverage can't be specifically disabled for Scala.js, this would either mean foregoing coverage tests entirely or else waiting 'till the issue is fixed.

[2015-07-19 07:35] suin opened #45 "sealed trait Violation"
Could you add `sealed` keyword to `Violation` trait for the sake of type-safety of client code?
Compiler warns that match-case statement is not safe on code like:

[code]

[code]

So client code has to have default case, even if it is unnecessary like:

[code]

[2015-07-19 07:59] holograph commented on #45
Not a bad idea, though it's worth noting that one of the reasons it's not yet the case is because the result model is still WIP (obvious case that isn't covered is #21, and there may be ramifications following #36). That being said, changes are going to breaking anyway, so your suggestion still seems appropriate.

[2015-07-19 08:04] #45 closed

[2015-07-20 15:47] russwyte commented on #19
@holograph
Not sure if this will help but I work around the scala.js issue with scoverage by creating an alias that I use separately from the normal build. As long as I clean - before publishing things seem to do fine.

The alias only run the test on the JVM project of the crossbuild.

example:
addCommandAlias("testCoverage",";clean ;coverage ;fooJVM/test ;coverageReport")

[2015-07-27 10:43] holograph opened #46 "Support for Scala 2.12"

[2015-07-27 10:44] holograph commented on #46
Track progress on the [scala-2.12 branch](https://github.com/wix/accord/tree/scala-2.12).

[2015-07-27 12:12] #19 closed

[2015-07-27 20:44] holograph opened #48 "Automate publishing of snapshot artifacts on TravisCI"
Subject says it all :-) Might be a good opportunity to retest Bintray.

[2015-07-27 21:16] holograph commented on #45
I'm a little concerned that this may break client code extending `Violation`, but since I can't imagine anyone actually doing that I'm going ahead with this. If anyone has feedback to the contrary, I'd love to discuss your use-case.

[2015-07-27 21:19] holograph commented on #19
@russwyte It might help, but after dicking around with sbt for a few hours I honestly prefer to just disable coverage until the issue is fixed. I have my doubts about coverage numbers being useful to begin with...

[2015-07-27 21:38] holograph commented on #31
This is now properly documented on the [site](http://wix.github.io/accord/dsl.html).

[2015-07-30 07:56] holograph opened #49 "Add example project for Scala.js support"
Followup to #19; need to beef up example project to showcase a simple web application, where the front-end is based on Scala.js and the back-end on Scalatra or Akka HTTP (née Spray), sharing domain objects and Accord validators.

[2015-08-25 11:32] holograph commented on #36
Also reported by @nivi1979, your two cents would also be appreciated :-)

[2015-08-28 23:32] holograph commented on #46
Latest news: basically waiting for ScalaTest 3.0.0-M7 (or newer) artifacts for Scala.js, see scalatest/scalatest#646. Can't test Accord otherwise, and would prefer to forego preliminary 2.12 support in favour of Scala.js (#19, #49).

[2015-08-30 09:08] holograph commented on #49
This is basically blocked on scala-js/scala-js#1888, and consequently pushed back to the 0.6 milestone.

[2015-08-30 14:46] #48 closed

[2015-09-02 09:49] holograph opened #50 "Re-enable test coverage with Coveralls"
This was disabled as part of the Scala.js work in 0.5 (see comments in #19) and should be re-enabled, or else removed entirely.

[2015-09-02 23:40] holograph commented on #50
This is currently blocked on scoverage/scalac-scoverage-plugin#118

[2015-09-07 05:42] holograph opened #51 "Clean up and publish ScalaDocs"
Accord contains _loads_ of ScalaDocs, but because the platform is so poorly documented it doesn't really work properly (formatting, linkage, highlighting errors in IDEA...)

This seems like a good time to clean it up and publish it on the project site.

[2015-09-07 11:15] holograph commented on #26
I've started more seriously looking at this; I believe the ideal syntax would be something like:

[code]

This will require a pretty substantial change to the result model though, since `failOn` (or whatever we end up calling it) has to know the origin type (`Test`, in this case) in advance, and the current result model does not provide this information. I'm not sure this is worth it, but the alte

[2015-09-07 11:27] noam-almog commented on #26
:+1:  I prefer the beValid notation but other than that, looks gr8.

[2015-09-15 18:26] holograph commented on #26
Unfortunately this (and any variant on the syntax) can never work. The problem is the way the Scala type inference work. Consider the following expression:

[code]

The crux of the problem is that `failOn` has no information with which to infer what the anonymous extractor function (`_.f1`) takes as its parameter. Even if the result model was parameterized, type inference does not "carry the type"

[2015-09-19 07:17] holograph commented on #26
Well for the time being, I'm reducing the scope of this feature: basically, switch to using native matchers (for whichever testing library you end up using) in a backwards-compatible manner.

[2015-10-13 14:23] holograph opened #52 "Support monadic operations (map, flatMap) on collection contexts"
Basically, `CollectionDslContext` needs to be extended with `map`, `flatMap`, `filter` etc. to support syntax such as:

[code]

For future consideration:

* `c.elements.headOption.each is validWith { _.value should be == 0 }`
* `c.elements startsWith { _.value should be == 0 }`
* `c.elements.head is validWith { ... }` -- unlikely as would require heuristic wrapping of collection access

[2015-10-13 15:30] AmirKarimi opened #53 "Support async operations (Future)"
For example we need to check if some fields are available/valid in database. As our data-access library is async, is there any way to build a custom async validation rule?

[2015-10-13 15:35] holograph commented on #53
Since Accord operates on constituted (complete, fully loaded, what-have-you) objects, this will require some care in order not to mix the two concerns. Can you give an example, so we have something to start discussing syntax around?

[2015-10-13 15:53] AmirKarimi commented on #53
You're right, we shouldn't mix the two concerns. I'll explain with an example.

We use NoSQL DB (Mongodb). Suppose the following classes:
[code]
Each city has a province. We want to make sure that the `provinceId` of the `City` class is defined in the province collection. Accord should not be aware that I'm going to do a DB validation but it would be very nice if it allowed me to implement a custo

[2015-10-13 16:03] holograph commented on #53
That has pretty massive ramifications on the base API. For example, would a validation of a `City` return `Result` or `Future[Result]`? Would the combinator library as well as the DSL have to be extended to support e.g. `And(f1, f2, ... fn)` where `f`s are futures? Should it be split down the middle into "blocking" and "nonblocking" variants?

I would argue that validations are designed to be stat

[2015-10-13 18:50] AmirKarimi commented on #53
Yeah, it would be a huge refactoring and the architecture can be inspired by what is done in Play framework actions.

OK. Finally, we would use Accord for stateless validations, but for external validations we probably have to develop our own framework which will be inspired by Accord. If so, it certainly would be published on Github. Please let me know if you have any recommendations.

Thanks

[2015-10-17 13:00] lenzenc opened #54 "How to Handle Option"
I'm trying to figure out what is the best practice for handling Option, for example;

     case class Person(name: String, age: Option[Int] = None)

    implicit val personValidator = validator[Person] { p =>
        p.name is notEmpty
        p.age is between(21, 40)
    }

In this case I only want to validate "age" if it is Some.

Thoughts?

[2015-10-17 13:05] holograph commented on #54
You can use .each for that (i.e. p.age.each is between(...)). It should be covered in the documentation on the project site, though - is it not clear enough?

—
Sent from Mailbox

On Sat, Oct 17, 2015 at 4:00 PM, Craig Lenzen <notifications@github.com>
wrote:

[2015-10-17 13:21] lenzenc commented on #54
Thanks, will give that a try.  As far as I can see I don't see any documentation about using "each"; http://wix.github.io/accord/

[2015-10-17 14:41] holograph commented on #54
It's at http://wix.github.io/accord/dsl.html. The site could really use a TOC, and I could really use some help from anyone conversant in CSS to get it done properly :-)

—
Sent from Mailbox

On Sat, Oct 17, 2015 at 4:21 PM, Craig Lenzen <notifications@github.com>
wrote:

[2015-10-25 22:33] #54 closed

[2015-10-25 22:33] #53 closed

[2015-10-27 15:57] holograph commented on #46
Scala.js for 2.12.0-M3 is out. Now waiting on ScalaTest and Specs2.

[2015-11-10 17:02] onmomo opened #55 "description is not passed to RuleViolation for Option.each"
Please have a look at the branch where I hijacked one of the OptionOpsTests to show the issue.
I've added two tests. One works as expected and the description is passed to the RuleViolation. But as soon as one uses an Option in combination with "each" validator, the description is lost:

OptionOpsTests#"fail on Some that does not match the predicate with description"

[2015-11-11 07:56] gh0zt commented on #55
+1

[2015-11-16 14:14] stijnvermeeren commented on #55
You get the correct description when you write `test => (test.o as "description").each` instead of `_.o.each as "description"`.

[2015-11-16 16:12] onmomo commented on #55
works, thanks a lot!

[2015-11-16 22:27] holograph commented on #55
I wonder if this is reasonably expected behavior, or whether the two options are actually semantically distinct. I'll give it some thought when I'm less exhausted and see what I can come up with...

[2015-12-01 00:38] mdedetrich opened #56 "Support for "Async" validation"
Adding first class support for "Async" validation (i.e. through using `scala.concurrent.Future`) would enable you to do validation that involves looking up values from Databases or other services (i.e. you would be able to make a validation for `UserId` which checks if `UserId` exists).

`scala.concurrent.Future` also exists on Scala.js, so this wouldn't effect Scala.js support.

One could create

[2015-12-01 14:59] zunder opened #57 "Detecting position in collection combinator"
I am having a validator containing collection combinator:
`myList.seq.each is valid`
Now what I need to know is the position of elements, which violate my model. All I get is rather a grouped violation, containing all the violations, but no position in the sequence.
What is best practise to tackle that issue?

[2015-12-02 22:47] holograph commented on #56
I'm not sure this jives with Accord's fundamental design goals (see discussion on #53), but I'm not yet convinced one way or the other. A sensible baseline implementation would go a long way towards convincing me ;-)

[2015-12-02 23:16] mdedetrich commented on #56
I am trying an implementation now, its not completely trivial (as that other issue is describing), but I will see how it goes. I am basically making an AsyncValidator/AyncResult types, and probably conversions/lifting (maybe implicit) from the standard types to the AsyncVersions

[2015-12-03 00:06] #46 closed

[2015-12-03 00:09] holograph commented on #46
Merged to master. Closing the issue pending https://travis-ci.org/wix/accord/builds/94532964

[2015-12-03 09:46] holograph commented on #57
Position only makes sense in the context of a randomly-accessible sequence, whereas the `.each` modifier is intended to be used on any collection. This seems a bit highly specialized for the library itself, but let's tackle this from another direction for now: What should be the failure derived from this code? (this is not a trick question, I'm contemplating whether or not the result model makes s

[2015-12-03 13:58] alexanderweber commented on #57
Good question - I would appreciate to have something like this:

[code]
I am not explicitly against the current functionality of `each`. I just need some collection combinator which provides that functionality.

Maybe some context would explain why I am in need for that information:
I am trying to validate some user input from an API. Therefore I need to give him some feedback on where he might fi

[2015-12-04 23:12] holograph commented on #57
I've played around with the codebase a bit; this will require a not-insignificant amount of work on the innards of Accord (how descriptions are generated and propagated). I think this is a worthwhile refactoring regardless, and will look into it, but this may take a bit of time. In the meantime, if this is a hard requirement, you can work around it by creating your own validator and applying it to

[2015-12-08 12:07] alexanderweber commented on #57
Currently we decided to do the work around you referred to, by defining an implicit validator for sequences in general. It is still kind of a blocker criteria for using Accord in our case, so I am glad that we could expect a future improvement in that field. I am quiet satisfied with the rest of Accord's features, so it would be nice if you could let me know as soon as the feature is out there. I

[2016-01-23 00:35] holograph opened #58 "Add support for runtime dispatch in validation rules"
Sometimes it is necessary to dynamically decide on a validation rule based on a runtime value, for example when validating a polymorphic message. There are various syntactic and implementation considerations here, but at the very least the following syntax should be supported:

## Pattern match
[code]

## Common control structures, e.g. `if`:

[code]

[2016-01-23 12:40] holograph opened #59 "Macro transformation barfs on partial function sugar"
When compiling the following code (derived while testing for possible workarounds for #58), the transformation barfs at compile time:

[code]

Resulting error:
[code]

[2016-01-23 22:03] holograph commented on #58
As an aside, the following is a completely valid workaround with 0.5.x:

[code]

[2016-02-11 06:56] noamBarkai opened #60 "sbt-scoverage plugin causes compilation error"
to reproduce, add to project/plugins.sbt
[code]
and to build.sbt:
[code]
next create the following Scala class:
[code]
finally running from sbt:
```sbt coverage compile```

you should see the following error:
[error]      while compiling: /home/noamb/reproduce-accord-bug/src/main/scala-2.10/ReproduceBug.scala
[error]         during phase: typer
[error]      library version: version 2.10.5
[error]

[2016-02-11 10:18] holograph commented on #60
Reproduced locally. Trying to work it out...

[2016-02-11 10:28] holograph commented on #60
Interim results:
* Only happens with Scala 2.10 (works fine with 2.11);
* The `coverage` task changes the active Scala version for some reason, I verified instead with `coverageEnabled := true`

I don't suppose as a temporary workaround you can switch to 2.11? :-)

[2016-02-11 12:27] holograph commented on #60
Sample output:

[code]

[2016-02-11 12:30] noamBarkai commented on #60
yah, Scala 2.11 would be more of a work-detour than a work-around :-)

[2016-02-11 12:30] holograph commented on #60
This is evidently not an scoverage-specific thing, but rather that scoverage configures scalac with `-Yrangepos`. This is entirely reproducible with removing scoverage and adding `scalacOptions += "-Yrangepos"` to your build. (via [StackOverflow](http://stackoverflow.com/questions/24269214/why-does-the-scala-compiler-error-with-synthetic-tree-contains-nonsynthetic-tre))

[2016-02-11 12:40] holograph commented on #60
This is, unfortunately, a known bug in Scala 2.10 (see [SI-8510](https://issues.scala-lang.org/browse/SI-8510)). Seeing as 2.10 is pretty much end-of-lifed, I don't expect it to ever be fixed, and is a non-issue for 2.11 up.

Unfortunately I haven't been able to dig up a workaround, and since this not an Accord-specific issue (you're liable to run into this problem with any macro library, includin

[2016-02-11 12:40] #60 closed

[2016-02-16 13:24] alexanderweber opened #61 "Proper way of handling enumerations."
We are having some external Proto definitions, containing type enumeration, which need to be validated on through Accord. I just want to make sure using the most convenient method for doing that.

So lets say there is a case class `Foo`:

[code]

It refers to a Proto type defined somewhere externally. The way we implemented the validator so far is following:

[code]

Despite the fact that the actu

[2016-02-21 23:29] #32 closed

[2016-02-28 23:41] holograph commented on #51
ScalaDoc is hell, and I can't for the life of me figure it out entirely. With proper [documentation](http://wix.github.io/accord) there doesn't appear to be much of a point to continue this Sisyphean effort any longer. Closing...

[2016-02-28 23:41] #51 closed

[2016-02-29 08:25] holograph commented on #61
I think this might well be a special case of #58 (and specifically #59). Your workaround is a reasonable one, but this definitely needs some work on the macro transformation. I'll try and get on that in the next few weeks.

[2016-02-29 08:26] holograph commented on #61
Closed as duplicate of #58 and #59.

[2016-02-29 08:26] #61 closed

[2016-03-03 14:56] alexanderweber commented on #58
I am eagerly interested in that feature and hope to see some progress on it in the next milestone.

[2016-03-06 10:55] holograph commented on #58
I took a few stabs at it yesterday; I think the primary issue here is how to model the resulting violations to reflect the runtime branch choice. For the example above, which option is preferable?

## Option A: Add branch information to rendered descriptions

This requires an overhaul of the description generation framework to make it pluggable/stateful (essentially the same mechanism required for

[2016-03-07 14:21] alexanderweber opened #63 "Validation against dependencies"
Validation often requires some dependent data, which is not stored in the object itself. Let me introduce a small example.

[code]

We are using this kind of pattern quite often. What I am sceptical about is that there is a `Validator[Foo]` created each time the function `validWithUpdate` is executed. Which leads me to the question, if this is the best practise in terms of checking against depende

[2016-03-07 14:37] holograph commented on #63
To your question, there's no fundamental limitation that should prevent this from working -- except that where metaprogramming is concerned, until it's proven (= compiles and runs, or at least tests) I tend to err on the side of caution. Note that what is created is an *instance* of `Validator[Foo]`; the macro transformation still only happens once.

In short, if this works for you, please note it

[2016-03-07 14:45] alexanderweber commented on #58
First of all - thank you very much on trying to make Accord better, we really appreciate that!

I would agree on B or C equally. Regarding option C - we do a mapping of `GroupViolation` and `RuleViolation` to plain text in order to generate error messages for our JSON format. We would need to adjust that one in order to handle `Branch` as well, but I do not see a big issue here.

Our concerns are

[2016-03-07 14:49] holograph commented on #58
That would depend on your definition of "nicer", or at least "nice enough". Another possible representation can be seen on #59:

[code]

Not sure this is any clearer or easier to grok...

[2016-03-07 14:52] alexanderweber commented on #63
That does work for us, I was just curious if that would result in some drawbacks in terms of performance. If that is being best practise for such a case though, I am fine with continuing using it.

/cc @aquamatthias

[2016-03-07 14:54] holograph commented on #63
There's obviously some performance penalty for allocating and initializing instances, but that's true of validation in general (allocating results etc.) so it should be another blip on the radar.

Performance in general is a secondary design goal of Accord, I reckon we'll get to it when we actually get complaints from someone who's impacted...

[2016-03-07 14:54] #63 closed

[2016-03-07 14:58] alexanderweber commented on #58
I cannot think of any better way myself to be honest. Luckily that is being a rare case, so I do not see a lot of pressure in putting conciderable effort in here. I might let you know if things change here though.

/cc @meichstedt

[2016-03-07 15:03] alexanderweber commented on #58
Having a second thought on it, I really might prefer the `conditional` representation. Would be nice to see it in the next release.

[2016-03-07 15:17] holograph commented on #57
Initial work on overhauling the description generation framework can be found in the [description-overhaul](https://github.com/wix/accord/tree/description-overhaul) branch. There's still a ways to go in order to support mixing compile- and runtime-generated descriptions (e.g. property access vs specific array index) but it's slowly getting there. This should also support #58.

[2016-03-13 18:56] orium opened #64 "Adding a description to an expression with "as" doesn't label it"
For example this code

[code]

will print `Failure(Set(RuleViolation(1,got 1, expected 0,Some(value))))`.

[2016-03-27 08:41] holograph commented on #64
This is a duplicate of #55, your input on the expected syntax/behaviour there would be greatly appreciated!

[2016-03-27 08:41] #64 closed

[2016-03-29 17:36] nchen-lv opened #65 "Add `anInstanceOf` and `notAnInstanceOf` validators"
This is a request to add validators for checking whether a field is of a certain type (e.g. a certain case class instance, for example).

@holograph gave the following working example:
[code]

[2016-04-06 16:32] zunder opened #66 "Resolving property names in explicit validators"
I am having two validators defined in companion object of class `Bar(minValue: Double, maxValue: Double)`:

1. `defaultBarValidator` is implicit
2. `specialBarValidator` is not

There is also a class `Foo(bar: Bar)`. `Foo`'s validator explicitly calls the `specialBarValidator` validator on property by calling `foo.bar is specialBarValidator`. `specialBarValidator` looks like this:

[code]

The val

[2016-04-07 14:15] rpiaggio commented on #21
+1 for this. We really like Accord but this feature has become a necessity for us. BTW, thank you for the great library!

[2016-04-21 11:43] #57 closed

[2016-04-21 12:28] holograph commented on #66
That shouldn't happen (implicit resolution has nothing to do with the description generation). Any chance you can post the full sample here?

[2016-04-21 15:44] holograph opened #69 "Add support for Scala 2.12.0-M4"

[2016-04-23 21:14] holograph commented on #49
Unblocked, but pushed back to 0.7 (also, could probably use some help on this one).

[2016-04-23 22:13] #65 closed

[2016-04-25 00:30] holograph commented on #69
Track progress on the [scala-2.12](https://github.com/wix/accord/tree/scala-2.12) branch.

Currently blocked on etorreborre/specs2#469.

[2016-04-25 00:33] holograph commented on #36
Removed milestone, but keeping open for future reference. No progress can be made on this without some serious feedback.

[2016-04-25 00:34] holograph commented on #3
Actually, this makes little sense in the context of the documentation proper. Perhaps a document/post that describes the architecture and resulting code in detail. In the meantime, there doesn't appear to be all that much interest, so I'm pushing to a future 1.0 release.

[2016-04-25 16:27] #69 closed

[2016-05-05 10:24] holograph commented on #66
Alright, managed to reproduce this with the following code:

[code]

[2016-05-05 10:27] holograph commented on #66
Interesting conundrum: what should be the result?

* With the built-in delegation mechanism you would use `f.bar is valid(specialBarValidator)`; the resulting failure would include a `GroupViolation` that composes the specific rule failures, providing the complete information.
* `is` is intended for rules, which is why no `GroupViolation` is generated. Should the behavior in this case be identical

[2016-05-18 15:55] zunder commented on #66
Is there any advantage in _not_ generating a `GroupViolation` here? In our project we build a JSON output file, which is based on Failure structure. Having one consistent format would be easier to use here. But I think we covered all cases, so I would not mind either way.

[2016-05-25 09:39] holograph commented on #66
This triggered yet another major refactoring of the description framework. The downside is a delay in releasing 0.6, the upside is that we'll have a proper spec for how descriptions are generated and combined...

[2016-05-29 09:26] #66 closed

[2016-05-30 00:36] francois opened #72 "Can't find example with web data"
I'm in the context of a Jetty Handler. I retrieve the query parameters using `Option(request.getParameter("q"))`, and would like to validate that the `q` parameter is not empty. Here's what I have coded so far:

[code]

Given the above, there are three cases I'm testing for: the `q` parameter is not provided, the `q` parameter is provided, but is empty, and the last case is the successful case:

[

[2016-05-30 01:28] holograph commented on #72
Hi @francois, I'm happy that you're trying out Accord :-)

To your question, you're actually defining two separate rules: the _container_ (i.e. `Option`) must have a value, *and* the value itself must not be empty. One way to accomplish this (you can find additional examples in the [DSL documentation](http://wix.github.io/accord/dsl.html)):

[code]

Let me know if this works for you, or if you hav

[2016-05-30 02:53] francois commented on #72
Wow, this page is gold! I never found it! Where is it linked from? Oh, just found it... It's the first word in the example section. I was looking for a standard navbar, either at the top or bottom of the page. Thanks for the help!

[2016-05-30 02:53] #72 closed

[2016-05-30 11:22] holograph commented on #72
Yeah, unfortunately I've tried (and failed) a couple times to learn enough CSS to add a navbar. I guess I'll hunt down a front-end dev and sort it out :-)

[2016-05-30 13:07] francois commented on #72
PR #73 adds navigation buttons for the two pages I did not find. See them on my fork: http://francois.github.io/accord/. Cheers!

[2016-05-31 08:45] holograph commented on #59
The solution for this as well as #58 is fundamentally the same (syntactic choices aside). Marking as duplicate.

[2016-05-31 08:45] #59 closed

[2016-06-24 12:03] holograph commented on #58
Quite a lot of progress on this, in fact all that remains is cleanup and documentation. You can see the progress on the [issue58](https://github.com/wix/accord/tree/issue58) branch; all tests now pass, including stuff like this:

[code]

There's also support for `conditional` as described above, but honestly I'm not sure there's any point in retaining it since the match syntax is at least as sensi

[2016-07-07 08:21] tiendatiowa opened #74 "Cannot use if condition inside a validator's functor"
Here is an example code:

[code]

Unit test:

[code]

The unit test should pass, but it actually fails.

[2016-07-07 12:39] holograph commented on #74
Hi @tiendatiowa, and thanks for trying out Accord!

First things first: `if`s are only supported as of 0.6 (due later this week, as soon as I wrap up the documentation). You can check it out via the snapshot builds, and I've verified that it works as expected:

[code]

A few other pointers:

1. `TransformedValidator` is an implementation detail and you usually don't have to specify it explicitly;

[2016-07-07 12:39] #74 closed

[2016-07-07 15:31] tiendatiowa commented on #74
Thanks for the quick reply, @holograph. I'll update our accord library to 0.6 as soon as possible and let you know if the issue is still there :)

[2016-07-31 14:00] dsounded commented on #56
+1

[2016-08-03 15:43] holograph opened #75 "Migrate to Scala 2.12.0-M5"

[2016-08-03 23:34] holograph commented on #56
@dsounded @mdedetrich Can either of you provide a usage example? A case where this would be useful, and what your ideal syntax would look like?

[2016-08-03 23:47] holograph commented on #58
I ended up going with my gut and skipping the `conditional` clause. Cleaned up a whole swath of code, and I believe native control structures (if/else, pattern matching) are more natural.

[2016-08-04 09:26] holograph commented on #58
Feature complete, will be released with 0.6 (hopefully this week).

[2016-08-04 09:26] #58 closed

[2016-08-04 13:27] dsounded commented on #56
@holograph Simple example, let's say I want to implement my `is unique` validation(this is real example) and I need to do a `slick` `select query` for getting the result -> Slick returns Future[Something], so basically I need to do sth like `result.map(_ > 0)` where result is `Future[Int]` in `COUNT(id) from TABLE_NAME where needed_column = needed_value` query.

But
`new NullSafeValidator[ String

[2016-08-04 13:33] dsounded commented on #21
Some way of replacing default messages with the others is really needed

[2016-08-04 13:55] mdedetrich commented on #56
@holograph  My use case is pretty much the same, its when you have validation that depends on a database (or HTTP service or something along these lines), basically anything that returns a `Future[T]`

I haven't had any time to get a working version, I made an attempt quite some time ago but didn't manage to get a working version (I had issues in making the various `apply` methods work throughout

[2016-08-06 13:31] #75 closed

[2016-08-06 18:53] holograph commented on #21
This, I believe, will be the major focus for either the next milestone release (0.7) or, if it progresses nicely enough, round 1.0 off. I have some new notions on how to do this, and will go into more detail later.

[2016-08-06 18:55] holograph commented on #6
The necessary mechanism for rewriting the code ended up being quite complex (equal to, or possibly rivalling, the complexity of the async/await code transformation). I wonder if there's enough interest in this feature to warrant the time?

[2016-08-19 10:29] geirhe opened #76 "Code examples do not compile"
See https://wix.github.io/accord/dsl.html and https://wix.github.io/accord/.

These seemingly place the implicit val ... validator code in the topmost level of a file. This is a scala syntax error.

E.g. defining a validator:

[code]

The examples place the validators inside a case object. I suggest the documentation is updated to follow the examples.

[2016-08-19 10:55] holograph commented on #76
While true, I'm not exactly sure this matters, this is a reduced example intended to give some idea of what it looks like. It works in the REPL, though perhaps some indication that the REPL is used might be appropriate...

[2016-08-19 11:04] geirhe commented on #76
That would have saved me a couple of seconds, at least

[2016-08-20 06:13] geirhe commented on #76
If you can show me where your docs are checked in, I can suggest a change?

[2016-08-27 21:31] holograph commented on #76
Sure, we're using GitHub pages so it's on the [gh-pages](https://github.com/wix/accord/tree/gh-pages) branch. Be advised that significant changes are due with 0.6, hopefully in a few minutes.

[2016-08-28 12:00] holograph commented on #56
... which is why I'm not entirely clear on how the the whole thing should work. Returning a `Future[Result]` fundamentally changes the way Accord is used, and I have two concerns:

1. I don't see a way to make it backwards-compatible without significantly complicating the (already fairly complicated) API signature. The only idea off the top of my head would be to leverage something like @propensiv

[2016-08-30 05:37] ryantheleach commented on #56
I'll be honest I havn't really played much with accord, but as a Scala newbie, I "understand" modes much easier then canBuildFrom

canBuildFrom seems like magic that I can ignore until I run into issues, propensives modes, as long as they are documented, make sense as it's I, the author, importing *something* which changes the behaviour.

Whilst I don't really understand how either work, at least

[2016-09-02 21:34] holograph opened #77 "Switch to .sbt-style build setup"
Between the build simplification for 0.6 (24eb3545a81c5039105b086d1813c2327a7f44fe) and the `Build` trait being [officially deprecated](https://github.com/sbt/sbt/releases/tag/v0.13.12), it's time to switch to a `build.sbt`-style build file.

[2016-09-02 22:02] #77 closed

[2016-09-06 23:54] Diagoras opened #78 "Add useful toString to Violation"
It would be nice to have a predefined and straightforward `toString` method on the `Violation` subtypes so that it'd be easy to get a String representation of the violation for debugging or creating a 400 response. For example:

[code]

[2016-09-08 00:48] Diagoras opened #79 "Easy way to ensure all fields are non-null"
Idiomatic Scala doesn't use null, so it'd be nice for there to be an easy way to guarantee that all the fields of a validated record are non-null without boiler plate `field1 is notNull`, `field2 is notNull`, etc.

[2016-11-02 12:17] holograph commented on #79
While you can always [implement a validator](http://wix.github.io/accord/dsl.html#custom-combinators) yourself, from a core library perspective this doesn't seem compelling (I can think of a couple of counter-arguments); implementing this with reflection goes against the grain of Accord, and a typesafe solution is too much work just for this feature.

 Then again, perhaps an "iterator-style" modif

[2016-11-02 18:20] Diagoras commented on #79
I agree with both avoiding reflection and that a type safe solution would be tricky, which doesn't leave a lot to work with I guess. The Shapeless solution looks good though, if it's not too much trouble.

[2016-11-06 23:12] holograph commented on #78
What worries me about this is that it might indicate to users that violations are intended to be rendered this way (if there's an API, someone will inevitably use it). In what way isn't the usual case class breakdown sufficient for debugging?

[2016-11-06 23:14] holograph commented on #76
This seems to me like fairly basic usage of Scala, but if you want to have a go at suggesting changes you're more than welcome.

[2016-11-06 23:14] #76 closed

[2016-11-07 00:42] Diagoras commented on #78
You're right that the normal case class `toString` works for debugging, but I was more thinking of the kind of verbose, human readable output that you'd use for logging, HTTP responses, etc. If you're concerned about overriding the default `toString`, we could always change it to `toVerboseString` or something. That work?

[2016-11-08 13:35] zbeckman opened #81 "localDate.each(_.isAfter(LocalDate.now()) is true) does not work"
It looks like Accord doesn't know about Java's date types:

Does not compile, so I thought I'd try this:

But this results in the following error:
[code]

I ended up doing this:

[2016-11-08 18:33] zbeckman opened #82 "Using map() or foreach() in validation"
We have several cases where a collection of values need to be validated. Here's one:
[code]

As you can see, the guest details contain some kind of oddly coded number. We have to try and convert it to an integer, make sure it is within 1..99, and validate accordingly.

I haven't been able to find a way to do this successfully. The obvious solutions of using `foreach` (or `map`) result in this erro

[2016-11-08 21:47] zbeckman commented on #82
I'm struggling with finding an alternative that actually works with Accord. Tried this:
[code]
But, no good. (Yea, I know, the failure case is strange I'm still trying to find something that will work). Lots of errors from that one...

[2016-11-09 08:45] holograph opened #83 "Sort out Scaladex publishing"
Accord's entry on Scaladex (https://index.scala-lang.org/wix/accord) is screwed up -- wrong latest version, missing versions (e.g. 0.6 for 2.12) etc. Need to sort it out.

[2016-11-09 08:58] holograph commented on #81
Indeed Accord doesn't have any specific features for dates. You've actually run into three separate issues:

`localDate.each(_.isAfter(LocalDate.now()) is true)` will never work because it's really syntactically incorrect, you're basically trying to apply the result of `each` as a function and it was never designed to work this way.

The second option (introducing the local variable) won't work be

[2016-11-09 09:55] holograph commented on #82
There is a variety of ways to do this but, as with any testing framework, the recommended approach would be to create your [own combinators](http://wix.github.io/accord/dsl.html#custom-combinators). In this case what you basically have is a validator over `paxNumber`, which probably has its own type. You can extract this to its separate combinator fairly easily:

[code]

I hope this helps...

[2016-11-09 09:55] #82 closed

[2016-11-09 09:56] holograph commented on #82
P.S. there's a future feature to support `map` and the like directly, see #52. Feedback (or votes) appreciated as always.

[2016-11-09 20:15] zbeckman commented on #81
Thank you for the in depth answer! And yes, I'd vote to adding Java date support (probably not so much Joda, I love it but it is now deprecated in favor of Java 8 native types). In the meantime I'm going to digest what you describe above.

Can I suggest you add a few more complex examples to the Accord web site? For example,

Now that I read it, it makes perfect sense. I wouldn't not have gotten t

[2016-11-10 16:54] dispalt opened #84 "GenBCode issue with compiling"
I am running into an issue when compiling my project with `GenBCode` backend, it appears related to the use of the toolbox in the `MacroHelper` class.

[code]

Any ideas?

[2016-11-10 17:05] holograph commented on #84
Interesting, I didn't know the need backend had any fundamental
differences. I'll need to look into this. Can you share your compilation
settings?

On Thu, 10 Nov 2016 at 18:54 Dan Di Spaltro <notifications@github.com>
wrote:

[2016-11-10 17:11] dispalt commented on #84
Yeah I was surprised too, I am guessing it's related to this https://github.com/wix/accord/blob/master/core/src/main/scala-2.11/com/wix/accord/transform/MacroHelper.scala#L65

[code]

The last one being the addition that resulted in that error.

[2016-11-10 19:16] holograph commented on #84
I've verified that Accord itself works successfully with this flag; I suspect compiling code with GenBCode doesn't support depending on non-GenBCode'd libraries where macros are concerned, but I'll do some more digging first.

[2016-11-10 19:29] krishl7272 opened #85 "Optional parameter"
Hello there,

i am new to Scala and writing validations for Scala program..

Example:

case class ROOM (input: string,
                               output: string,
                               example: option [string] )

so i am defining like this..

case object ROOM {
import com.wix.accord.dsl
implicit val roomvalidator = validator [ROOM] { r=>
r. input is notEmpty
r.output is notEmpty
}
}
--

[2016-11-10 20:08] dispalt commented on #84
I just did that, compiled accord with the flag and recompiled the dependent project to no luck.  I am honestly not sure what's going on, but considering that `GenBCode` is a backend I am sure its conditionally presenting classes and maybe that structure changed or something, I am not sure.  The main reason why this is useful is its the default backend to `2.12`

[2016-11-11 21:08] holograph commented on #84
2.12 is compiled and packaged separately with the default compiler (and its associated backend), so I don't expect any issues with 2.12. That being said, I'll try and reproduce the problem with 2.11 and update here.

[2016-11-11 21:11] holograph commented on #85
If I understand correctly, you want `example` to be valid if:

1. It is `None`
2. It is `Some("left")`
3. It is `Some("right")`

Is that correct? If so, you can use `r.example.each is in("left", "right")`.

[2016-11-13 07:32] krishl7272 commented on #85
exactly..
r.example.each is in("left", "right")
thanks ...its working for me

[2016-11-13 07:32] #85 closed

[2016-11-16 17:42] zbeckman commented on #52
+1 would love to see this.

[2016-11-16 17:56] zbeckman commented on #81
As for date support, simply adding:
[code]
Would probably go a long way.

[2016-11-16 21:00] zbeckman commented on #81
Found a problem with macro expansion... When I try to use this:
[code]
I get a macro expansion exception:
[code]
So I end up replacing it with this, which just seems less... nice:
[code]

[2016-11-16 23:25] holograph commented on #81
Can you tell me which Scala version you're using? I've had a bitch of a time getting code reprinting (the thing that failed, needed for automatic description generation) to work properly, and it's entirely possible I missed some subtle corner cases.

[2016-11-17 15:34] zbeckman opened #86 "Getting indexed description when composing validators"
I'm seeing a problem with inappropriately indexed descriptions when I try to compose several different validations. This shows up when I tried to build out the feedback on #82 into real code:
[code]
The above code generates the following error during runtime:
[code]
I tried to work around the problem by using `gd.paxNumber as “paxNumber” is aValidPaxNumber(bookingNumber)` but this didn't solve the

[2016-11-17 15:35] zbeckman commented on #86
FYI we are using Scala 2.11.8.

[2016-11-17 15:37] zbeckman commented on #81
We are using Scala 2.11.8.

[2016-11-17 15:43] zbeckman opened #87 "`None.get` exception inside `dateOfBirth.isDefined` block very unexpected"
This is a specific case (derived from comments on #81), but running into (more) problems with this date stuff. Given this:
[code]
And most unexpectedly I'm getting a `None.get`:
[code]
Also tried this, but same results (`None.get`):
[code]
As a temporary but ugly workaround, I'm doing this:
[code]

[2016-11-17 15:45] zbeckman commented on #87
We are using Scala 2.11.8.

[2016-11-17 16:45] zbeckman opened #88 "Add a pretty print function"
It would be awesome to have a `format` or `pretty` function that would spit out violations in a nicely formatted, probably multi-line, indented style, making them easier to read.

[2016-11-17 17:43] zbeckman commented on #87
One more example of where this is an ugly little problem:
[code]

[2016-11-17 18:16] zbeckman opened #89 "java.lang.UnsupportedOperationException: Position.start on NoPosition when trying to use map"
When working with validation around options, I tend to run into `java.lang.UnsupportedOperationException: Position.start on NoPosition` quite a bit. Here are two examples that trigger the exception:
[code]
And another one (first discovered while discussing #81):
[code]
The exception I'm seeing is:
[code]

[2016-11-17 18:16] zbeckman commented on #81
By the way... This is showing elsewhere, not just date related:
[code]
Also causes the same exception.

I've filed this under #89.

[2016-11-17 18:17] zbeckman commented on #89
We are using Scala 2.11.8.

[2016-11-18 11:29] holograph commented on #83
Fixed on Scaladex, all good now.

[2016-11-18 11:29] #83 closed

[2016-11-18 11:33] holograph commented on #84
Sorry, I haven't been able to replicate this with the Accord example project with your options. I'm not sure why you're running into this issue, but if you're willing to provide access to your codebase (or have a screen sharing session) I'd love to help you try and figure it out...

[2016-11-18 13:51] holograph commented on #86
Managed to reproduce the problem, I'll follow up when I have something useful to say...

[2016-11-18 17:14] dispalt commented on #84
Yeah I was being lazy, Ill work up a small public example, thanks!

[2016-11-18 19:16] jasongilanfarr commented on #84
I recently tried to upgrade http://github.com/mesosphere/marathon to 0.6 and we also use GenBCode and ran into the same issue. As soon as I fixed the last compile error (you can see that if you look for https://github.com/wix/accord/issues/89 in the review).

 https://phabricator.mesosphere.com/D197

[2016-11-21 12:35] holograph commented on #86
Current status: Problem reproduced successfully and is well-understood.

The bad news: The description model is fundamentally limited, and I can't believe I hadn't thought of - or run into - this before; it basically cannot represent interleaved indexed- and named-access. To clarify, the example above logically fails to validate `p.guestDetails(0).paxNumber`, which has no representation in the cur

[2016-11-22 11:21] holograph commented on #86
TL;DR there's a workaround, see below.

I've managed to whittle this down to the following reproduction case:

[code]

The reason this has never come up is that Accord espouses using `is valid` with implicit resolution; `valid` wraps the results in a `GroupViolation` and nests subsequent validation issues, which is why this never came up.

So:
1. A valid workaround in your case is `p.guestDetails.

[2016-11-22 19:08] odenzo commented on #84
I get the same errors, but with no scala options (e.g. GenBCode)
0.6 Scala 2.12.0

[2016-11-23 13:05] holograph commented on #84
I've yet to be able to replicate this locally, but I'll keep trying. Thanks for the pointers, and if anything comes to mind (or you managed to reproduce this separately) please post it here!

[2016-11-23 15:43] holograph commented on #84
OK, managed to find a workaround thanks to @jasongilanfarr's data on Marathon; I'm not clear on why this is required all of a sudden, but `scala-compiler` isn't part of the compilation classpath, and is consequently unavailable when expanding the macro. It is my understanding that this should be provided by the compiler instance hosting the macro, but I'll need to verify this with @xeno-by.

At an

[2016-11-23 22:47] xeno-by commented on #84
@holograph I think that's yet another situation when missing transitive dependencies may cause spurious compilation failures. I guess that something as subtle as changing a backend may tip the scales.

About your question. When expanding macros, the macro engine provides a classloader that, in addition to the compilation classpath, includes scala-reflect.jar and scala-compiler.jar. This is how you

[2016-11-23 23:11] retronym commented on #84
Might be related to https://github.com/scalamacros/paradise/issues/68, by which use of `typeOf` with existentials / type aliases results in an unwanted dependency on internals.

[code]

[Moving](https://github.com/jrudolph/upickle-pprint/commit/3783013933ea52871b92c32e5b2acf7744ca17b3) the `{weak}typeOf` calls to different locations can workaround the situation.

Now I'm not at all sure if this it

[2016-11-23 23:13] retronym commented on #84
In general, I wouldn't recommend using the experimental `GenBCode` backend in 2.11.x as there are known bugs which only fixed in 2.12.x. That said, this overall problem might still exist in 2.12.x, so I'm happy to help in that context.

[2016-11-24 06:29] retronym commented on #84
I've lodged a compiler bug for this and will fix it shortly: https://github.com/scala/scala-dev/issues/275

[2016-11-24 09:00] holograph commented on #84
Thanks @retronym, I'll track it and follow up if it seems resolved.

[2016-11-27 17:23] holograph commented on #87
Works now with the latest merge to master! 0.6.1 will be out later this week including this fix.

[2016-11-27 17:23] #87 closed

[2016-11-27 17:23] holograph commented on #87
Also, turns out this was a much bigger issue than expected (see changes in bug title)

[2016-11-28 12:03] holograph commented on #88
Is that for debugging? If so, is #80 a step in the right direction?

[2016-11-28 12:05] holograph opened #90 "Add support for date/time constructs"
Predominantly `java.time.*`, `java.util.Date` and possibly (in a separate project) JODA.
Example combinators might be `p.birthDate is before(Date.now().minus(18, TimeUnit.YEARS))`, `before` etc.

[2016-11-28 12:05] holograph commented on #81
I've opened a separate issue (#90) for supporting native Java time/calendar functions, feedback is welcome.

[2016-11-28 12:08] holograph commented on #86
@zbeckman Does this workaround solve your immediate problem?

[2016-11-29 09:32] holograph commented on #81
As I understand it, we're done here (all issues are either resolved or handled separately). @zbeckman any objection to my closing this issue?

[2016-11-29 09:44] holograph commented on #89
Managed to reproduce the issue locally, thanks for the report. This looks like a simple one.

[2016-11-29 10:16] #89 closed

[2016-11-29 10:18] holograph commented on #84
Remarking for milestone 0.6.1 (either for verification or to add a "known issues" section to the documentation)

[2016-12-01 19:43] zbeckman commented on #89
Confirmed that this is now working in 0.7-SNAPSHOT. Thanks a bunch!

[2016-12-01 19:46] zbeckman commented on #88
I think #80 is a step in the right direction. We are a bit lost on how to easily figure out what is going wrong in our validation tests. For instance:
[code]
Well, if this fails, all we end up seeing is a simple "should be true" and the test condition fails. What we really want is an easy (and simple, non-repetitive!) way to see *exactly* what went wrong.

Some of our validations are really nasty

[2016-12-01 19:47] zbeckman commented on #88
Additional thought: It's not really just for debugging, it's for problem diagnosis. So if we have data coming in, and it fails to validate... we emit a log that someone will investigate. It would be very nice if that log was easy to read.

[2016-12-01 19:48] zbeckman commented on #87
Confirmed this is fixed in 0.7-SNAPSHOT. Thank you!!

[2016-12-02 12:36] zbeckman commented on #86
Well... Yes. But... ;-)

The workaround works, but it's bulky. So I'm torn between doing it "right" and just doing something much simpler:

[code]

meh... But yes, it does work, and I'll probably go with the "right" way if nothing else then I'll have a documented instance of how to do it. ;-)

[2016-12-02 13:54] zbeckman commented on #81
Confirmed that 0.7-SNAPSHOT is good as far as the map() issue. Close away!

[2016-12-02 13:57] zbeckman commented on #90
Big, big +1 on this. Dates a always popping up... Having basic support that includes the following tests would likely cover the bases:

- before
- after
- equalTo
- between

To be very fancy, you could add a:

- within

The idea of `within` is to give some degree of fuzziness. For instance, "within 1 hour" or "within 1 day." Probably just syntactic sugar for `between`.

Finally I'd say focus on Ja

[2016-12-02 22:41] holograph commented on #81
Thanks for the followup!

[2016-12-02 22:41] #81 closed

[2016-12-05 10:28] #86 closed

[2016-12-05 10:29] holograph commented on #86
@zbeckman Fixed! You should be able to verify with 0.7-SNAPSHOT. I'll wait on your feedback and then release 0.6.1.

[2016-12-05 11:19] holograph opened #93 "Add LICENSE.md + update copyright notice in all files"

[2016-12-05 13:39] linasmwix opened #94 "Memoize results of CompanionObjectAccordValidatorResolver.lookupValidator"
We have noticed a non-negligible performance impact of `CompanionObjectAccordValidatorResolver.lookupValidator`, which costs up to \~0.013 ms per invocation on i7 2.5 Mhz in the worst case (which is when trying to resolve a validator for a class that has no companion object at all). This is based on running JMH directly against `CompanionObjectAccordValidatorResolver.lookupValidator` (full benchma

[2016-12-06 11:10] WebKoala commented on #87
Did you get round to publishing 6.1?  We are considering using the Accord library but we need this multiple if functionality.

(Awesome library btw, thanks for making this!)

[2016-12-06 11:26] holograph commented on #87
Finishing touches, I expect it to be out in a day or two. You can test with
0.7-SNAPSHOT in the meantime, if you're interested...
On Tue, 6 Dec 2016 at 13:10 Sander Kouwenhoven <notifications@github.com>
wrote:

[2016-12-07 12:24] #94 closed

[2016-12-08 08:49] #93 closed

[2016-12-08 09:45] holograph commented on #90
There's some setbacks with `within` because of the way overload resolution works in Scala. The core Accord DSL (`import com.wix.accord.dsl._`) already includes a `within`, but importing a different overload via `import com.wix.accord.java8._` results in ambiguous reference errors:

[code]

Looks like we'll have to forego `within` or go about it a different way. In either case, this obviously isn't

[2016-12-08 09:51] holograph opened #96 "Remove support for Scala 2.10.x"
It's time to finally deprecate Scala 2.10.x support and clean up all relevant code.

[2016-12-08 12:28] holograph commented on #84
Documentation updated to mention the workaround; removing milestone assignment and will keep open until a Scala version with the fix is released and confirmed.

[2016-12-08 20:41] holograph commented on #90
Alright, managed to work around the issue and ran smack into another. Fundamentally, Scala postfix expressions work left-to-right naïvely; in effect, `p.birthDate is within( someDuration ) of someDate` would translate to: `p.birthDate.is(within(someDuration)).of.someDate`.

There are really two solutions here:
1. Require users to instead use `is within( someDuration ).of( someDate )`. This is inco

[2016-12-08 23:18] zbeckman commented on #90
Aigh. Well... functionality probably wins out over lack of functionality. But I feel your pain on the syntax. This is ultimately a "nice to have" and can be emulated using `(is after X) and (is before Y)` so... aigh. Up to you. :-) I do like have the simpler functionality even though it flies in the face of the DSL, so if you don't find it too offensive I'd probably go ahead with `is within(X).of(

[2016-12-20 21:01] helllamer opened #97 "scala.js: Only adding accord into libraryDependencies adds +320kb after fullOptJS"
Hi.

I've tried to play around accord using [getting-started page](http://wix.github.io/accord/index.html#getting-started). I've added accord into deps like this:
[code]
Saved `Build.scala`.

And **right after** that, i've tried:
[code]
`someproj-fastopt.js` increased from 3916334 to 5604563 bytes.
`someproj-opt.js` increased from 686128 to 1023856 bytes. (+ 33%, WOW!).

Some useless js-generated

[2016-12-21 00:30] holograph commented on #97
Ouch, that is most DEFINITELY not the desired behavior. Can you share the
dependency tree for your project (or rather, the diff)? I'm curious which
actual Accord dependencies are getting pulled in.
On Tue, 20 Dec 2016 at 23:01 Konstantin Nikiforov <notifications@github.com>
wrote:

[2016-12-21 07:28] helllamer commented on #97
To reproduce the problem, use this shell code:
[code]
More than +500 KiB by now...

[2016-12-25 16:21] holograph commented on #97
Issue confirmed and reproduced. Looking into it.

[2016-12-25 16:57] holograph commented on #97
Well, this is embarrassing: evidently the problem is a simple, careless dependency on ScalaTest from the `accord-api` module, which has been around since 0.5 or so ([diff](https://github.com/wix/accord/commit/5dfd189459c81f77601915e94a9ce8800f8af5b2)). Surprisingly enough, no-one noticed up until now :-/

I'll be pushing a change shortly. I don't think this is worth its own release, since it can b

[2016-12-25 16:57] #97 closed

[2016-12-25 17:20] holograph commented on #21
Time to seriously tackle this issue. If anyone has additional feedback, now's a good time :-)

[2016-12-25 17:23] holograph opened #98 "Define (and enforce at build-time) size limitations on produced artefacts"

[2016-12-25 17:23] holograph commented on #98
This is following up on #97, to make sure it doesn't happen again.

[2016-12-25 17:25] holograph opened #99 "Better modularization"
Currently `accord-core` contains both the matcher library (required at runtime) and the definition DSL (strictly _not_ required at runtime). Better modularization, to e.g. `accord-matchers` and `accord-dsl` (with `accord-core` aggregating both for backwards-compatibility) is desirable, and might enable full elision of infrastructure code in runtime dependencies (e.g. `TransformedValidator`, which

[2016-12-25 17:27] holograph opened #100 "Define, measure and enforce performance targets"
Accord should not only be simple, it should be _fast_. Runtime performance has always been desirable but never a first-class design goal; proper benchmarking should be put in place to ensure validations are as quick as possible. Resulting code size and (ideally) compilation times should be considered as well.

[2016-12-29 12:32] holograph opened #101 "Enact a community-standard coding convention"
* Pick a community coding convention (whichever one)
* Reformat all code in a "big bang" commit
* Enact the coding style going forward via appropriate sbt plugin

[2016-12-30 13:44] holograph commented on #90
(Pinging @zbeckman)

There's a bunch of functionality implemented in the [issue90 branch](https://github.com/wix/accord/tree/issue90). I'm not an altogether heavy user of either library, so I probably got some of the basics wrong; in particular I'm not exactly happy about the way formatting is handled. Here's what it looks like for joda-time:

[code]

If you can have a look at the DSL tests ([Java

[2017-01-03 18:47] holograph commented on #88
Closing as a duplicate of #78 (which came first :-)). I'll follow up there.

[2017-01-03 18:47] #88 closed

[2017-01-04 17:57] Diagoras commented on #78
I like it! That tree view is great, thanks.

[2017-01-05 14:04] holograph commented on #21
Quick brain-dump of current possible directions:

# Runtime dispatch

If we give up type safety, the problem becomes very easy -- each combinator determines its own constraint type and uses that. Accord can then provide a very simple rendering framework and it's up to the user to handle the dispatch (or register renderers, a la Jackson modules).

This is the fallback method. Accord's main claim to

[2017-01-09 17:41] ALPSMAC opened #102 "Validator macro does not support Shapeless Coproduct"
It's probably a stretch to expect something like Shapeless to play well with Accord, but using Coproducts and HLists within your data types can lead to a more expressive domain model.  I'd love to see Accord support some limited set of functionality on Coproducts/HLists.  For instance, I'd really love to do something like this:

[code]

I would have expected this match statement in the abValidator

[2017-01-09 22:55] Diagoras opened #103 "java.lang.AssertionError: assertion failed: ClassBType.info not yet assigned"
Receiving this exception in my project when compiling with 2.12.1

Full stack trace:

`java.lang.AssertionError: assertion failed: ClassBType.info not yet assigned: Lcom/wix/accord/transform/ValidationTransform$TransformedValidator;
	at scala.tools.nsc.backend.jvm.BTypes$ClassBType.info(BTypes.scala:861)
	at scala.tools.nsc.backend.jvm.BTypes$ClassBType.isInterface(BTypes.scala:904)
	at scala.tool

[2017-01-10 08:51] holograph commented on #103
Thanks for the report, I'll look into this as soon as possible.

[2017-01-10 09:26] holograph commented on #102
I would actually expect this code (convoluted though it may be :-)) to work. I'll need to do some digging to find out where the "enclosing class" error originates, but an off-the-cuff guess would be that Shapeless uses macros to derive some of the requisite type classes, and Accord doesn't handle the nested macros very well.

[2017-01-10 16:24] Diagoras commented on #103
Thanks for the quick followup. I'm using version 0.6.1 of Accord, let me know if you need any other information (content of failing classes, etc.)

[2017-01-10 23:40] ALPSMAC commented on #102
I can certainly believe that two separate libraries both doing macro magic might conflict with each other.  I can't claim that I'm an expert in Scala macros, but it seems reasonable to suspect that perhaps something Shapeless does to transform the code has caused the validator macro to behave in unexpected ways.

For now I have just used Scala's native 'Either' type to support my use case (since I

[2017-01-11 18:47] helllamer commented on #103
Same problem for `accord 0.7-SNAPSHOT` + `scala-2.12.1`.

Steps to reproduce:
$ `git clone https://github.com/scala-js/scalajs-tutorial`
$ `cd scalajs-tutorial`
[code]

[code]
$ `sbt fullOptJS`
It returns this:
[code]

[2017-01-11 19:01] helllamer commented on #103
I've tried to "full rebuild" (as recomended by `scalac`):
rebuilt `accord` from git against scala-2.12.1, and `publish-local`'ed it.
This does not help, home-made jars produces same error.

[2017-01-11 20:38] holograph commented on #103
I'll have some time to give this a serious look over the weekend. Will keep
you posted.
On Wed, 11 Jan 2017 at 21:01 Konstantin Nikiforov <notifications@github.com>
wrote:

[2017-01-19 12:59] stijn-starmind opened #104 ""has size" RuleViolation has wrong value"
With version 0.6.1:
[code]
results in
[code]
I would expect `List(1,2,3)` as the `value` (first `RuleViolation` parameter) for both violations. Now the first violations reads "3 has size 3" which is very confusing.

[2017-02-02 23:05] holograph commented on #104
That is actually a very good point; right now the value is the actual thing that's being validated (in this case the size), but I agree that it's misleading, and the actual culprit is reflected in the constraint text. I'll add it as a bug for the next milestone.

[2017-02-02 23:10] holograph commented on #103
Apologies for the delay, I've been quite ill these last few weeks and haven't had much time to work on Accord. I've now reproduced the problem with Maven deps and am looking into this.

[2017-02-02 23:50] holograph commented on #103
Verified on all counts, but I hit a brick wall in trying to figure it out. I opened a Scala compiler bug (see [SI-10171](https://issues.scala-lang.org/browse/SI-10171)) and will keep this issue up to date with developments.

I apologize for what must be a very frustrating blocker to upgrading Scala for some of you; I only hope the Scala team can assist with an expedited fix or workaround.

[2017-02-02 23:57] holograph commented on #84
Per the [Scala repo](https://github.com/scala/scala/milestone/55?closed=1) this should've been fixed in 2.12.1, however I'm blocked from verifying this due to #103. Will follow up when there's news on that front.

[2017-02-05 09:08] holograph commented on #90
All changes and features are now available in the master branch (and with 0.7-SNAPSHOT). I would appreciate any feedback!

[2017-02-13 18:29] holograph commented on #104
Fix should be presently available in 0.7-SNAPSHOT builds.

[2017-02-13 18:29] #104 closed

[2017-02-14 08:10] holograph commented on #103
Will review with the next Scala compiler release; I'm keeping this for the 0.7 milestone to remind myself to update the documentation.

[2017-02-16 10:26] #98 closed

[2017-02-23 08:06] frobs opened #107 "Add expected value to RuleViolation"
Hello.
I think that will be good add to RuleViolation class a field with the expected value.
With this value we can set our custom error messages:

[code]
This is a simplified example but this is the idea

[2017-02-24 01:31] cwei-bgl opened #108 "accord-api should only depend on scalatest in test scope?"
Hi, Thanks for the library.

I got conflicts between my scalatest 3.x dependency and scalatest 2.2.6 which accord-api brings in. The conflicts can be easily resolved by exclusion. I just wonder if accord-api should only depend on scalatest in test scope?

Thanks, Cheng

[2017-02-26 14:16] holograph commented on #108
I've been wondering about that. I don't really have an opinion on the matter, so yours wins :-) I'll sort it out for next version.

[2017-02-26 14:18] holograph commented on #107
This is essentially the same as #21, which I expect to give full attention to in the next few weeks as part of 0.7. I'm still trying to get a clean API out of the whole thing, but you can weigh in (and/or track progress) in that issue.

[2017-02-26 14:18] #107 closed

[2017-02-28 18:19] holograph commented on #108
Wait, what? I misread your bug report and thought you meant the `accord-scalatest` module. `accord-api` strictly brings in ScalaTest as a test dependency, i.e. that should not propagate to your own project. Maybe you are doing something funny with your build script?

[2017-04-06 14:57] aquamatthias opened #109 "Problem with combining descriptors in 0.6.1"
The mesosphere/marathon project tries to migrate from accord 0.5 to 0.6.1.

During this we needed to change quite a bit of code: see https://phabricator.mesosphere.com/D677

The project compiles, but we see a lot of illegal argument exceptions in our test code.
All of them have the same error description: `Cannot combine description` coming from [this code](https://github.com/wix/accord/blob/maste

[2017-04-06 15:00] aquamatthias commented on #109
Here is the list of failing combinations at the moment:
[code]

[2017-04-06 17:07] holograph commented on #109
Hi @aquamatthias and thanks for the report. This shouldn't be related to #89 at all (different problems); this probably has to do with either deficiencies of the description model and/or incorrect usage. I'm dealing with a production issue right now, but I'll try to give it a serious look over the weekend.

[2017-04-07 10:19] aquamatthias commented on #109
Great. I pushed my branch here: https://github.com/mesosphere/marathon/tree/mv/wix_06
if you want to see this in action.
[code]
Will throw the exceptions that I have pasted in my previous comment.
Feedback highly appreciated!

[2017-04-07 22:20] rfranco commented on #108
I have the same issue

[code]

[2017-04-10 13:11] holograph commented on #108
Ah yes, this is a duplicate of #97 (which also includes a workaround until the next version is out). This is basically me being stupid...

[2017-04-10 13:11] #108 closed

[2017-04-10 13:12] holograph commented on #108
For reference, the workaround is adding an exclusion to the dependency:

[code]

[2017-04-10 13:20] holograph commented on #109
Hi @aquamatthias, I'm pretty sure this is the result of a change from 0.5->0.6 on commit 0e606cfdc6949c77584efbc5142a90be614ffdd8, which basically reverses the order of combining indexed descriptions (for very good reasons, but then I never expected anyone to use this API quite so early).

I'm pretty confident you can simply reverse the application (`Indexed(index.toLong).applyDescription...`), bu

[2017-04-12 13:04] aquamatthias opened #110 "Please provide accord-core 0.5 as scala 2.12 package"
The [marathon project](https://github.com/mesosphere/marathon) tries to move to scala 2.12.
We tried to upgrade to accord 0.6.1 which is compiled against scala 2.12 but we face problems with this - see #109 .

It would be great to unblock this by providing a scala 2.12 package for accord-core 0.5 until #109 is resolved.

Thanks in advance!

[2017-04-12 13:05] aquamatthias commented on #109
Hey @holograph, I updated the Marathon branch and made sure it compiles correctly (clean compile is successful). I started to write my own Descriptor combinations. This only works in situations where there is control over it (like `every`). I still run into this problem with standard validators.

[2017-04-13 06:22] holograph commented on #109
@aquamatthias I'll have another look and let you know.

[2017-04-13 12:44] holograph commented on #110
Hi @aquamatthias, as I remember adding 2.12 support was a bit of a pain, and I'm not happy to spend time backporting it to a 2-year-old release. Let's give #109 a couple days first and, if we can't resolve it satisfactorily, I'll give your request another look?

[2017-04-13 13:34] aquamatthias commented on #110
@holograph Thanks for the feedback. Happy to move forward with #109. The intent of this ticket was to separate the 2 things (scala 2.12 and using accord 0.6.1). Out of curiosity: what were the problems you run into with scala 2.12?

[2017-04-18 17:51] holograph commented on #109
@aquamatthias Good/bad news:

1. You're reimplementing the `each` operator as the `every` function, which mixes in descriptions in the opposite direction from the DSL-generated version. This is why you're getting so many failures. You can somewhat work around this by reimplementing `every` with this ugly hack:

[code]
2. This makes apparent a deficiency in Accord's description model (which is one

[2017-04-20 22:45] holograph commented on #109
@aquamatthias Actually I take back my comment, you were basically doing exactly the right thing except it needed a bit more scaffolding on Accord's internals. I'm running your branch (without your custom `combine`) against a build of the Accord [issue109 branch](https://github.com/wix/accord/tree/issue109/) (check out and run `sbt publishLocal`) and it seems the issue you described is now resolved

[2017-04-21 12:48] aquamatthias commented on #109
@holograph that sounds fantastic! Thanks so much for taking the time! It is absolutely possible, that there are other issues in the Marathon code base that yield failed tests. The new Description types now make wrong assumptions in the tests visible.

So do you think I can get rid of the custom `combine` function?
Can I now use the `every` function as written in my first comment or do I need custo

[2017-04-21 15:50] holograph commented on #109
@aquamatthias The custom `combine` should no longer be necessary (I haven't worked out all the kinks yet) and `every` can be replaced with the DSL `each` operator. There's some work to be done there as `each` is only available within the DSL, and I've noticed you're using it externally (as with `isTrue(...) and every(someOtherValidation)`), though; the DSL is intended to make users' lives easier b

[2017-05-02 10:01] aquamatthias commented on #109
@holograph I checked out branch `issue109`, published locally a 0.7-SNAPSHOT version and compiled Marathon against this version. I fixed all issues on the Marathon side.
8 test cases are failing - all with the same error:
[code]

I updated rebased and pushed my branch: https://github.com/mesosphere/marathon/compare/mv/wix_06?expand=1

If you check out this branch, `sbt test` should give you exactl

[2017-05-02 10:09] thekalinga opened #111 "Feedback on Bean Validation 2.0 spec"
The new spec for bean validation is in progress & requesting comments from the community.

http://beanvalidation.org/2.0/spec/

Would you mind sharing your views there so that all the issues accord solved would be incorporated in the newer version.

Thanks

[2017-05-02 21:17] holograph commented on #109
@aquamatthias Sorry, I've had to drop everything and deal with a few other things, I expected to have it wrapped up last week. I'll follow up as soon as I can.

[2017-05-02 22:36] aquamatthias commented on #109
After playing around a little more, these 2 rules solved my issues:
[code]
Does this make sense?

[2017-05-07 08:24] holograph commented on #109
Not quite, actually; Explicit overrides whatever is the previous description, and (in the case of runtime application) an open Indexed applies to the existing description, so I'd expect the following:

[code]
These should be covered by the baseline rules. I think the problem stems from trying to support indexing from both directions (i.e. as part of the DSL -- meaning an open Indexed has the actua

[2017-05-08 12:03] aquamatthias commented on #109
@holograph Please see my earlier comment, where I already tried your suggestion:

[code]
This leads to wrong results. since it adds the index at the wrong place.
Example (with path based syntax to show the problem):
Expected problem at path: `/container/volumes(0)/external/provider`
Actual reported path: `/container/volumes/external/provider(0)`
Volumes is a sequence, provider is a simple string.

[2017-05-11 10:50] SrijeshKhanal opened #112 "Validate Empty Json"
In Some case we need to validate Empty Json as well.
For Example
case class Test(p:Option[Int], n: Option[String], q: Option[Seq[String]])

val vt = validator[Test] { t =>
      t.p  is is notEmpty
      t.n is notEmpty
      t.q is notEmpty
    }
  The above example is to validate fields of json is provided or not
But in some case we would like to validate whether Json provided is empty as well a

[2017-05-11 20:44] holograph commented on #112
Let's see if I have it right: you want an instance to be valid if _all_ are empty or _none_ are empty?

[code]

[2017-05-16 11:29] Antanukas commented on #109
Seems that I have same IllegalArgumentException, but for simpler case:
https://github.com/Antanukas/accord-reproduce/blob/master/src/test/scala/reproduce/ReproduceTest.scala

[2017-05-16 22:29] holograph commented on #112
@SrijeshKhanal does that answer your question?...

[2017-05-16 22:31] holograph commented on #109
@Antanukas Thanks for the additional use case, and I apologize for the tardiness in getting this wrapped up (this goes for @aquamatthias as well). I'll follow up as soon as I'm able.

[2017-05-17 02:43] SrijeshKhanal commented on #112
@holograph Yes It answer my question. Thanks for your help

[2017-05-22 14:11] #112 closed

[2017-05-23 07:22] SrijeshKhanal opened #113 "wix/accord: Validate Nested Class"
<h1> How can I validate nested class? </h1>

<h3> For example I have following case classes: </h3>

    case class PreTest(a: Option[String], b: Option[String], c: Option[String])
    case class TestMini(x: Option[String], y: Option[String], z: Option[String])
    case class Exam(p:Option[String], preTest: Option[PreTest], testmini: Option[TestMini])

<h4> I would like to validate following fields

[2017-05-24 16:44] holograph commented on #113
Hi @SrijeshKhanal, `Option`s are simply collections and you can use the `.each` operator for this purpose. Furthermore, in this case you should probably split these off into separate validators:

[code]

Although this is written down in the [DSL guide](http://wix.github.io/accord/dsl.html) it's obviously not clear enough, if you have any ideas how to make it more visible/prominent I'd appreciate t

[2017-05-25 05:48] SrijeshKhanal commented on #113
@holograph
<h2>Thanks for the reply </h2>
 <h4>This does not work for following case:</h4>
    {
        "p": "abc"
    }

<p>In the above case it does not checks whether preTest and testmini is defined or not.</p>

We want validation for following cases:
Case 1:
    {}

Case 2:
    {
       "p":"abc"
    }

Case 3:
    {
     "p":"abc",
     "preTest":{}
    }

Case 4:
     {
      "p":"aaa",

[2017-05-26 20:41] #113 closed

[2017-06-12 05:06] epiphyllum opened #114 "sbt update failed, but if I change scalaVersion := "2.11.8" it is ok"
 ~/workspace/scala/accord/ [master] sbt update
[info] Loading global plugins from /Users/hary/.sbt/0.13/plugins
[info] Loading project definition from /Users/hary/workspace/scala/accord/project
[info] Set current project to root (in build file:/Users/hary/workspace/scala/accord/)
[info] Updating {file:/Users/hary/workspace/scala/accord/}root...
[info] Updating {file:/Users/hary/workspace/scala/ac

[2017-06-12 08:45] holograph commented on #114
Hi @epiphyllum, I'm not quite sure what I'm looking at -- the unresolved dependency has to do with Ammonite, not Accord? Further, it seems you're depending on `com.wix:root_2.11` (which shouldn't be depended upon - in fact, unless I made a mistake somewhere, it shouldn't even be published).

If you can share your `built.sbt` I might be able to help further.

[2017-06-18 09:11] holograph commented on #109
Just following up that there's been significant progress on this. Digging through it basically made me realize the whole description algebra in 0.6 is insane, and there's significant progress towards a much cleaner model for 0.7 (see the [prototype-0.7 branch](https://github.com/wix/accord/tree/prototype-0.7)). I'm actively developing this against Marathon, so I'll hopefully have a full-blown pull

[2017-06-19 09:45] holograph commented on #109
Managed to make Marathon fully test against 0.7-SNAPSHOT (not yet published, I `publishLocal` and depend on that). You can see the changes [on my fork](https://github.com/mesosphere/marathon/compare/master...holograph:tg/wix_07_new), and hopefully it makes things simpler and cleaner for Marathon as well.

The next steps on my part:
1. Finish and cleanup 0.7
2. Adjust Marathon to make use of new fe

[2017-06-20 12:09] avitaln opened #115 "null BigDecimal validation throws NPE"
this piece of code throw NullPointerException instead of returning a failure

[code]

(because the > is always calculated)

[2017-06-21 11:06] aquamatthias commented on #109
@holograph that looks promising.
1) I think replacing `Description` by `Path` makes a lot more sense - it really denotes the path to the violation.
1) is there still a difference between `item is valid` and `item is mySpecificValidator`? The former created an unnecessary SelfReference in the path. Ideally the 2 versions have the same result.
1) What is the suggested way of testing validations? Con

[2017-06-21 16:09] holograph commented on #109
@aquamatthias, @jeschkies:

1. Yes, the move to Path really simplified a lot of things, which wasn't evident until I took a longer look at how Marathon does things (ah, the benefits of having actual users!)
2. It should, but I'll add a test to verify.
3. That is actually a good question; Accord is notably unopinionated here, with some users at Wix treating it as "infrastructure, no need to test" a

[2017-06-24 02:36] holograph commented on #115
Confirmed. This is actually a little tricker to tackle than you'd expect, but I have a working (though seriously hack-y) solution ready. I'll try to find a cleaner way to deal with this and follow up in a few days.

[2017-06-26 17:41] #115 closed

[2017-06-30 21:39] holograph commented on #109
All changes are now merged to master! @aquamatthias, is there any additional support you need (other than index-by-key, which I'll consider a separate issue for now) prior to 0.7 release?

[2017-06-30 21:39] #109 closed

[2017-06-30 22:32] holograph commented on #90
No feedback means no more enhancements :-) Merged and will be released with 0.7 very soon.

[2017-06-30 22:32] #90 closed

[2017-07-03 06:57] aquamatthias commented on #109
@holograph 👍  we will try 0.7 in Marathon.
Index by key: I agree this is a separate issue.
Thanks for the effort!

[2017-07-05 20:44] holograph opened #116 "Switch to Tut for documentation"

[2017-07-09 13:28] holograph commented on #103
Should be resolved as of 2.12.2.

[2017-07-09 13:28] #103 closed

[2017-07-09 13:31] holograph commented on #50
Alas, still open due to sbt/sbt-doge#13

[2017-07-09 14:16] holograph commented on #110
@aquamatthias Is this still needed/desirable given the release of 0.7?

[2017-07-09 14:17] holograph commented on #102
I will take another look at it for 0.8, no promises on results though :-)

[2017-07-09 14:18] holograph commented on #84
I believe Scala 2.12.2 solves both issues, though I haven't been able to fully verify. Please reopen if you run into this issue again...

[2017-07-09 14:18] #84 closed

[2017-07-09 18:28] aquamatthias commented on #110
The only way is up...  I will close this issue.

[2017-07-09 18:28] #110 closed

[2017-07-24 12:06] dpalinic opened #117 "Upgrade from 0.6.1 to 0.7 produces strange FileNotFoundException errors"
**Summary:**
I upgraded wix accord from 0.6.1 to 0.7 and started receiving bunch of strange errors during the compile time: `java.io.FileNotFoundException: /Users/tomerga/dev/accord/core/.jvm/target/scala-2.11/scoverage-data/scoverage.measurements.55 (No such file or directory)`

**Please note I'm not user tomerga mentioned in log line.**

**Log:**
[code]

**UserCreation class:**

[code]

[2017-07-24 16:13] holograph commented on #117
That _is_ very strange. Can you share the relevant part of your build file?
I'll try to reproduce this locally regardless. Thank you for the report!

[2017-07-24 17:52] dpalinic commented on #117
Hi @holograph ,

Thanks for the response. Please checkout following github project which is build with Lagom Framework in Scala: `https://github.com/dpalinic/lagom-jwt-authentication`

1. In `build.sbt` bump accord version from 0.6.1 to 0.7:
Replace `val accord = "com.wix" %% "accord-core" % "0.6.1"` with `val accord = "com.wix" %% "accord-core" % "0.7"`
2. In `ValidationUtil.scala` replace line 1

[2017-07-25 07:43] holograph commented on #117
Very strange, I cannot reproduce this issue at all:

[code]

I'm not actually sure what is going on here, but I do have a theory: do you happen to have scoverage as a global sbt plugin?

[2017-07-25 07:47] holograph commented on #117
Actually ignore that, I'm an idiot and forgot to remove the "offending" directory. Looking into it some more.

[2017-07-25 09:39] holograph commented on #117
Well, this turns out to be an egregious error on my part: `scoverage` was enabled for publishing. I think this is highly problematic default behavior (see [my comment](https://github.com/scoverage/sbt-scoverage/issues/84#issuecomment-317683991) on scoverage/sbt-scoverage#84), but is never-the-less the culprit.

I'll be releasing 0.7.1 to solve this within the next few hours; thank you for the repo

[2017-07-25 10:58] #117 closed

[2017-07-25 17:22] hntd187 opened #118 "Does this library play nice with Java?"
While I don't mind using Scala for this, would other people in my group who make use of pure Java be able to use the library without much trouble? I know you guys probably wouldn't need it, but would you have any interest in a shim over accord's types to make at least `Result` better to deal with in Java?

[2017-07-25 22:16] holograph commented on #118
I don't see why Accord would not be usable from Java, although that was
never a design goal. Applying validators and processing results should be
trivial as-is, but two things you don't get are implicit resolution (so you
have to manually look up the right instance and call .apply) and the
definition DSL.

I would certainly not object to any useful contribution around Java
support, and would be ha

[2017-08-14 14:39] tafli opened #119 "Pattern-Matching with guards and scala-doc does not work"
We're using the newest version and tried pattern matching with guards as in the examples:
[code]
Everything works fine with compiling and running but publishing fails as ScalaDoc seems to have a problem with the guards (without the guard its fine):
[code]

Any ideas what the problem is?

Many thanks!

[2017-08-15 19:28] holograph commented on #119
That _is_ strange, I wonder what kind of weird magic goes on there. I'll look into it tomorrow and will let you know what I find.

[2017-08-16 06:45] holograph commented on #119
Well, I managed to reproduce this quite easily. I still have no idea what's going on here, but I'll see what I can do about it.

[2017-08-16 06:46] #118 closed

[2017-08-16 07:07] tafli commented on #119
Great to hear you could reproduce it. Didn't manage to have a repo to reproduce.

[2017-08-17 08:03] holograph commented on #119
Although I don't understand the issue properly yet, with some assistance from @eed3si9n there is at least a workaround: disabling macro expansions on the `doc` task. Add this to your `build.sbt`:

[code]

I've verified that this works on a sample repo: https://github.com/holograph/accord-issue119-sample

I'll keep this bug open for future investigation.

[2017-10-01 06:52] timcharper opened #120 "PartialFunction in validator leads to UnsupportedOperationException: Position.start on NoPosition"
The bug can be easily reproduced by pasting the following code into an [Ammonite repl](http://ammonite.io):

[code]

Produces the following stack trace:

[code]

[2017-10-01 06:54] timcharper opened #121 "PartialFunction in validator leads to odd truncation error"
Reproduced easily via [Ammonite REPL](http://ammonite.io):

[code]

The macro fails during compile time:

[code]

[2017-10-01 06:54] timcharper commented on #121
Related to #120

[2017-10-01 11:59] holograph commented on #120
Thanks for the report @timcharper! Which Scala version are you using here?

[2017-10-01 12:01] holograph commented on #121
Thanks again! As with #120, which Scala version are you using here?

[2017-10-01 12:03] holograph commented on #121
(Reproduced with 2.12.3, leaving the comment in case other versions are also affected)

[2017-10-01 12:04] holograph commented on #120
(Reproduced with 2.12.3, leaving the comment in case other versions are also affected)

[2017-10-01 17:18] timcharper commented on #120
Hi @holograph ! I reproduced it with both Scala `2.12.3` and Scala `2.11.11` :)

[2017-10-17 12:20] wojtasskorcz commented on #21
Just wanted to give +1 here too, it would be really great to have this feature. Or is there any way at all to customize a constraint message (not necessarily compatible with i18n frameworks etc)?

[2017-12-15 04:11] cwei-bgl commented on #119
Hi, Is there an update on this?

With Scala version 2.12.4, it is not compiling even.  I cannot do with the option -Ymacro-no-expand(-Ymacro-expand:none in new version), as I am using akka-http micro. Thanks.

[2017-12-19 22:56] holograph commented on #119
I'm sorry to say that there hasn't, yet. I'm unclear on why the workaround doesn't work for you, though -- what does akka-http have to do with this?

[2017-12-21 09:08] #121 closed

[2017-12-21 09:09] #120 closed

[2017-12-22 08:39] rangoldberg opened #122 ""and" and "or" combinators should support short-circuit evaluation"

[2017-12-22 09:31] holograph commented on #122
Can you be a bit more specific about what you mean (an example would be best)?

[2017-12-22 09:49] rangoldberg commented on #122
[code]

This will throw an exception on current implementation when c is null, although it should return `Success`

[2017-12-22 09:50] rangoldberg commented on #122
The same is relevant for `and` combinator

[2017-12-29 22:54] holograph commented on #122
Strange. This should work (`NotEmpty` is null-safe). I'll try to repro and see what's up.

[2017-12-29 23:00] holograph commented on #122
@rangoldberg  Actually, scratch that -- this shouldn't even compile, Scala is strict with infix notation so you'll get a compile error like
[code]
I've verified that the correct expression (`(c is aNull) or (c is notEmpty)`) works as expected. What am I missing?

[2018-01-01 09:54] rangoldberg commented on #122
it worked because notEmpty is null safe, as you mentioned. but this illustrates my point:
[code]

[2018-01-01 09:56] rangoldberg commented on #122
And this:
[code]

[2018-01-02 09:15] holograph commented on #122
@rangoldberg I think I see the problem; the Accord DSL was never intended to be used outside of a `validator[T] { t=> ... }` block. In other words, `is` isn't intended to be used directly, and should only be used to define validation rules.

I'll have to see how to make it fail to compile outside the macro, or at least be safe, and will keep the issue open until then.

[2018-01-04 09:36] holograph commented on #122
I re-checked, and this actually fails for a different reason than I expected: you used `value contains "s"`, where `contains` is not an Accord combinator, but actually a string method -- hence the NPE.

[2018-01-04 09:36] #122 closed

[2018-01-04 10:58] rangoldberg commented on #122
In the following line you apply all predicates, before doing the exist in the following (following) line. Hence, there's no short-circuit.
I guess you're doing that for the failures computation.

https://github.com/wix/accord/blob/b62f71541d6b21f595d8ba84840199c978bf5dc9/core/src/main/scala/com/wix/accord/combinators/GeneralPurposeCombinators.scala#L42

[2018-01-04 13:06] holograph commented on #122
Yup, that's correct. I misremembered when we discussed this earlier.

[2018-01-10 01:12] timcharper commented on #120
🎉 Thank you @holograph !

[2018-05-07 02:57] mladibejn commented on #21
I really like the feature as well, any news on when it would be released? Thanks

[2018-06-06 15:41] zbeckman opened #123 "NoSuchMethodError when creating implicit validator"
I'm getting the following error:
[code]
When attempting to create the following validator:
[code]
For the following class:
[code]

[2018-06-07 19:49] zbeckman opened #124 "Problem with basic validator example"
I'm trying to set up a validator based on the web site example. I've got:
[code]
Which generates the following errors:
[code]

[2018-06-10 14:57] holograph commented on #124
That's odd. Guess the move to `tut` (or similar) is more deserved than I thought. I'll look into it, thanks for reporting!

[2018-06-10 14:59] holograph commented on #123
Thanks for reporting, I'll look into it shortly (things are a little sluggish these days because of the transfer of ownership, but will sort themselves out soon)

[2018-06-11 11:15] holograph commented on #123
I can't seem to reproduce this; can you specify which versions of Accord, Scala and JDK you're using?

[2018-06-11 11:32] holograph commented on #124
As with #123, I've failed to reproduce this on any Scala version. Can you specify which versions of Accord, Scala and JDK you're using?

[2018-06-11 11:32] holograph commented on #124
(also pinging @noam-almog to sort out the administrativa)

[2018-06-11 11:53] holograph commented on #123
Perhaps you are compiling with Scala 2.12.5 with JDK 9/10? It has a known regression with macros: https://github.com/scala/scala/releases/tag/v2.12.5

[2018-06-11 11:53] holograph commented on #124
Perhaps you are compiling with Scala 2.12.5 with JDK 9/10? It has a known regression with macros: https://github.com/scala/scala/releases/tag/v2.12.5

[2018-06-11 14:32] zbeckman commented on #123
Nope. 12.2.6 and JDK 8.

[2018-06-11 14:39] holograph opened #126 "Scala 2.13.0-M3 support"
Work is already progressing on my own fork in the `scala-2.13.0-m3` branch: https://github.com/holograph/accord/tree/scala-2.13.0-M3

Remaining work:
- [ ] Release scalamacros/resetallattrs#11
- [ ] Find a workaround for scala/bug#10762

[2018-06-11 15:08] holograph opened #127 "Scala 2.13.0-M4 support"
Following up on #126. What remains:

- [ ] Release scalamacros/resetallattrs for 2.13.0-M4
- [ ] Upgrade to Scala.js 0.6.23+
- [ ] Wait for ScalaTest, Specs2 etc. to release their respective versions

[2018-06-13 17:00] holograph commented on #123
@zbeckman Hold on, is this at compile or runtime?

[2018-07-12 22:29] holograph commented on #21
Pinging @noam-almog, a fresh pair of eyes would be invaluable here

[2018-09-21 20:31] honzatrtik opened #128 "ResultMatchers dont work for me"
Hi,
trying to set up basic test with `ResultMatchers` like this:

[code]

but the compiler says:
[code]

accord `0.7.2`
scala `2.12.6`

thanks for any help!

[2018-09-21 21:39] honzatrtik commented on #128
🤦‍♂️ ok, replacing `result should be aSuccess` with `result shouldBe aSuccess` was enough ;-)

[2018-09-21 21:39] #128 closed

[2019-06-11 07:54] CatTail opened #141 "Multiple multiple validation rules in control structures is incorrect"
When using multiple `is false` validation rules inside control structure, it seems only the last rule matters, below is an example to reproduce the issue.

[code]

https://github.com/CatTail/scala-playground/blob/77b265529afab42e1cbd28beb296b3a67b3cf343/src/main/scala/com/example/playground/AccordApp.scala#L32-L50

[2019-06-11 11:44] holograph commented on #141
Confirmed. Looking into it

[2019-06-11 20:27] holograph commented on #141
PR issued. @noam-almog ball's in your court :-)

[2019-06-12 08:12] #141 closed

[2019-06-13 09:09] #127 closed

[2019-06-13 09:10] #126 closed

[2019-07-12 18:02] rfranco opened #145 "Publish scala 2.13 version"
There is only version with scala 2.13.0-M5

[2019-07-13 10:04] holograph commented on #145
Yeah, it’s pretty much ready for release - I’ve made sure resetallattrs was available ahead of time

[2019-08-14 19:47] zchbndcc9 commented on #145
Status update on this?

[2019-08-15 09:15] noam-almog commented on #145
i will publish a new version today, sorry for the delay

[2019-08-15 15:01] zchbndcc9 commented on #145
Perfect, and no worries. Thanks for the speedy response

[2019-09-04 12:52] SavtechSolutions opened #146 "Error:(8, 30) exception during macro expansion: java.lang.ClassCastException: scala.reflect.internal.Trees$Block cannot be cast to scala.reflect.api.Trees$CaseDefApi"
`Error:(8, 30) exception during macro expansion:
java.lang.ClassCastException: scala.reflect.internal.Trees$Block cannot be cast to scala.reflect.api.Trees$CaseDefApi
	at scala.reflect.api.Trees$Transformer$$anonfun$transformCaseDefs$1.apply(Trees.scala:2581)
	at scala.reflect.api.Trees$Transformer$$anonfun$transformCaseDefs$1.apply(Trees.scala:2581)
	at scala.collection.immutable.List.loop$1(List

[2019-09-04 12:54] SavtechSolutions commented on #146
Scala 2.11.12, Accord 0.7.3, JDK 8

[2019-10-14 21:04] don41382 commented on #145
Are there any plans for public release on `2.13.0`?

[2019-10-23 13:43] noam-almog commented on #145
`0.7.4` supports 2.13 and it was release in Aug

[2019-10-23 13:43] #145 closed

[2020-01-20 11:05] Tochemey opened #150 "Writing custom validator"
Hello,

I would like to know how to write a custom validator using the libphonenumber.

[2020-01-21 08:45] noam-almog commented on #150
you can refer to the documentation on http://wix.github.io/accord/dsl.html

[2020-03-10 14:33] timcharper opened #151 "Accord 0.7.5 has explicit dependency on ScalaTest"
Accord 0.7.3 had a test dependency on ScalaTest, but releases 0.7.4 and 0.7.5 fail to mark the dependency as a test dependency

You can see here it is a test dependency:
https://mvnrepository.com/artifact/com.wix/accord-api_2.12/0.7.3

And here, it is an explicit dependency:
https://mvnrepository.com/artifact/com.wix/accord-api_2.12/0.7.4
https://mvnrepository.com/artifact/com.wix/accord-api_2.12/

[2020-03-11 09:14] noam-almog commented on #151
api module  % "test" was removed accidently during the 2.13 build, i will publish a new version today
thanks 👍

[2020-03-11 09:26] noam-almog commented on #151
PR #152

[2020-03-11 09:43] noam-almog commented on #151
publishing 0.7.6 today, it will be fixed on that release, thanks for the report

[2020-03-11 09:43] #151 closed

[2020-03-12 17:38] timcharper commented on #151
Thank you @noam-almog !

[2020-05-25 14:14] andyczerwonka opened #153 "is Accord no longer maintained?"
Given there is a pretty healthy backlog and there have been minimal commits in months, I was wondering if Accord is no longer being maintained outside of external PR's? I also noticed very limited activity on the Gitter channel (it took just over a week to see any activity at all). So, concretely:

Is Accord no longer maintained because:

1. Users find it is full featured and does not need signifi

[2020-05-25 14:17] #150 closed

[2020-05-25 14:20] noam-almog commented on #153
For now i would go with option 1, since @holograph did such a great job most of the needed features are already in. i'm keeping the library updated with latest deps and when bugs are reported i usually fix them in a reasonable time.

[2020-05-25 15:28] #153 closed

[2020-06-05 13:03] andyczerwonka opened #154 "0.7.3 release is missing"
https://github.com/wix/accord/releases Shows 0.7.2 as the latest release

[2020-09-04 03:29] webblin034 opened #155 "Can't use "pattern match" in very first position when defining validator with DSL"
Official Document :
" Accord **supports** several native Scala control structures, notably ifs and **pattern matching** "
in http://wix.github.io/accord/dsl.html

Library Dependencies :
[code]

Input Data :
[code]

Unit Test :
[code]

Test Pass !
[code]

Test Pass **With Exhaustive Cases** !
[code]

Test Compilation Failed !
[code]

Test Compilation Failed !
[code]

Test Compilation Error :
[code]

[2020-09-04 03:39] webblin034 opened #156 "Can't extract out a value variable from pattern match results when defining validator with DSL"
Official Document :
" Accord **supports** several native Scala control structures, notably ifs and **pattern matching** "
in http://wix.github.io/accord/dsl.html

Library Dependencies :
[code]

Input Data :
[code]

Unit Test :
[code]

 Test Compilation Failed !
[code]

Test Compilation Error :
[code]

[2020-09-04 03:46] webblin034 opened #157 "Can't use "if-else if-else" or "if-else" to verify multiple assertions when defining validator with DSL"
Official Document :
" Accord **supports** several native Scala control structures, notably **ifs** and pattern matching "
in http://wix.github.io/accord/dsl.html

Library Dependencies :
[code]

Input Data :
[code]

Unit Test :
[code]

 Test Failed Due To Only Checking Last Validation Rule !
[code]

[2020-09-04 03:53] webblin034 opened #158 "Can't use "if-else" in very first position when defining validator with DSL"
Official Document :
" Accord **supports** several native Scala control structures, notably **ifs** and pattern matching "
in http://wix.github.io/accord/dsl.html

Library Dependencies :
[code]

Input Data :
[code]

Test Compilation OK :
[code]

Test Compilation OK :
[code]

Test Compilation Failed :
[code]

Test Compilation Error :
[code]

[2020-09-04 03:59] webblin034 opened #159 "Can't use "if" condition in a pattern match when defining validator with DSL"
Official Document :
" Accord **supports** several native Scala control structures, notably **ifs and pattern matching** "
in http://wix.github.io/accord/dsl.html

Library Dependencies :
[code]

Input Data :
[code]

Unit Test :
[code]

Compilation Failed !
[code]

Test Compilation Error :
[code]

Test Failed, Shouldn't Ignore All Assertions !
[code]

[2020-09-04 04:06] webblin034 opened #160 "Need to add "()" to imply discarded non-Unit value to suppress error when defining validator with DSL"
Library Dependencies :
[code]

Input Data :
[code]

Test Compilation Pass **With ()** !
[code]

Test Compilation Failed **Without ()** !
[code]

Test Compilation Error :
[code]

[2021-01-04 05:49] sudhirkumar1980 opened #161 "call validation function based on class of object as explained"
Following Person and Adult class has Implicit Validator functions. Adult class extends the Person class
trait Person {
  def name: String
  def surname: String
  def age: Int
}

object Person {
  implicit val taskValidator: Validator[ Person ] =
    validator[ Person ] { person =>
      println("personValidator")
      person.name is notEmpty
      person.surname is notEmpty
      person.age is be

[2021-01-04 13:17] noam-almog commented on #161
this is an implicit question and not an accord question : )

inheritance is an issue, when trying to evaluate the validate scala needs to have a concrete class or just know what the type is. when you are working in an interface you can either tell accord which validator to use explicitly or do the resolving yourself, pattern match according to class type and validate when type is known.

[2021-01-04 13:58] noam-almog commented on #159
you should probably use .each operator,
for example:
[code]

[2021-01-04 13:58] noam-almog commented on #160
i'm not sure what you are trying to achieve here

[2021-01-04 14:07] noam-almog commented on #158
this should solve things for you

[code]

[2021-01-04 14:07] #158 closed

[2021-01-04 14:07] #159 closed

[2021-01-04 14:15] noam-almog commented on #157
use this validator:
[code]

[2021-01-04 14:15] #157 closed

[2021-01-04 14:16] #156 closed

[2021-01-04 14:16] #155 closed

[2021-01-04 14:16] #160 closed

[2021-01-04 14:37] #161 closed

[2021-01-04 14:38] sudhirkumar1980 commented on #161
Thank you. I will close it.